[2014-11-07 21:57] redox opened #2 "Sqlite support"
Not sure if sqlite is widely used in the Symfony community, but it's something I like to use to avoid running a MySQL engine. Right now, it seems to be impossible to run the unit tests with `pdo_sqlite` because it looks for a `database_host` key.

Do you think we could handle it as well?

[code]

[2014-11-09 10:01] #2 closed, assigned to nobody

[2014-11-30 16:06] redox opened #3 "Is this Doctrine bundle compatible with ODM as well?"
To be used with MongoDB for instance: http://doctrine-mongodb-odm.readthedocs.org/en/latest/

[2015-03-17 16:35] websirnik commented on #3
Got around testing this just now.

It works fine on a single document.

One common use-case most people will have with mongo is embedded documents: http://doctrine-mongodb-odm.readthedocs.org/en/latest/reference/embedded-mapping.html

Currently this is not handled out of the box. In the current setup:

[code]
At the moment, this results in two different indexes in Algolia -> Post & Author.
Post ha

[2015-03-17 17:49] websirnik commented on #3
The other issue I've uncovered while trying to overcome Embedded documents limitation. The method annotation runs just once in the following setup:

[code]
When the post gets updated with new `$title` or new `$authors`, the update for `$title` does get sent to Algolia, but update for `$authors` does not.

[2015-03-17 17:50] redox commented on #3
@djfm can you help?

[2015-03-19 18:01] djfm commented on #3
I hope so :) I'll check the issues in detail this week-end!

[2015-03-22 15:06] djfm commented on #3
Hi, this is trickier than I thought.

The main problem I see is that Doctrine does not trigger an "update" event on the `Post` object when its `authors` are updated.
It only triggers an "update" event on the `Post` object when authors are added or removed.

So, if we keep the data for authors in the same index as posts, we will miss a lot of events, which is what you are reporting:

"When the post

[2015-03-23 15:32] websirnik commented on #3
Thanks for having a look on this. One thing to make sure we are on the same page:

I not super familiar with Doctrine event system. But I thought if the `Author` document is **embedded** inside `Post` and I'm persisting the `$post`: `$em->persist($post);`, there are should be some sort of Update event. As I'm not working with `Author` per se, I'm manipulating `$post` with contains a complete `Auth

[2015-03-26 18:55] djfm commented on #3
Yes that's the embedded mapping I have tested, I will try to make a simple test case to demonstrate what I mean.

Also to make sure we're on the same page, when you say:

By `new $authors` do you mean you're adding authors or changing authors that were already there?

Here are the results of my findings, but I need to double check because I might be wrong:

Action|Events Triggered
--------|-------

[2015-05-14 13:53] redox opened #5 "Add a new command to clear an index"
[code]

[2015-05-21 15:20] mrardon opened #6 "Create new tag for fixes"
Looks like this is fixed in d7ed4d2bdc740cdc5380b2ea9dc0cdf1b31e4e37 but all the tagged versions, 1.0.0 and 1.0.1 have this issue and was blowing things up for me. Anyway we can get a 1.0.2 tag release that includes this fix. Thanks.

[2015-06-03 15:17] brunonic opened #7 "Class AlgoliaSearchEventSubscriber not found"
hi, I just setup this bundle but got this error :

PHP Fatal error:  Class 'Algolia\AlgoliaSearchBundle\EventListener\AlgoliaSearchEventSubscriber' not found

Any idea ?

[2015-06-03 16:44] maxiloc commented on #7
Yes it was fixed with https://github.com/algolia/AlgoliaSearchBundle/commit/d7ed4d2bdc740cdc5380b2ea9dc0cdf1b31e4e37
We didn't create a new release so it wasn't available through composer.

It should be good now

[2015-06-03 16:44] #7 closed

[2015-06-03 22:11] maxiloc commented on #6
@mrardon I released 1.0.2 today.

[2015-06-03 22:11] #6 closed

[2015-07-08 16:11] bobylito opened #10 "[Command line reindex] Issue with custom field methods"
When importing objects with some of the information retrievable only through custom methods, the content may or may not be imported.

Example of custom method :

[code]

[2015-07-08 16:58] bobylito opened #11 "[Command line reindex] Issue with indexIf"
The count of indexed elements is not equal to the number of elements that match the predicate.

Method used

[code]

[2015-07-09 16:25] maxiloc commented on #11
Same issue than #10

[2015-07-09 16:25] #11 closed

[2015-07-09 16:26] maxiloc commented on #10
Quick fix done. We need to investigate to see if we can do it cleaner

[2015-07-20 12:53] maxiloc opened #12 "Handle Many to One and Many to Many directly"

[2015-07-20 13:35] #12 closed

[2015-07-22 07:13] chriwup opened #13 "Exceptions in algolia code break our code"
I'm currently having the following exception thrown from algoliasearch-client-php/src/AlgoliaSearch/Client.php:504:
"AlgoliaSearch\AlgoliaException: Operations quota exceeded, change plan to get more Operations."

We are using a trial plan, it's quite possible I have reached my quota.

Though looking at the stack, this Client code was run by AlgoliaSearchDoctrineEventSubscriber.

This means that e

[2015-07-22 09:54] maxiloc commented on #13
@chriwup I am not sure catching the exception and putting it in the log should be directly included in the extension.

It would means that in case of bad credentials, curl not installed, quota exceeded, ..., you won't have any exception raised by the extension which not what we want.

The errors thrown by AlgoliaSearchDoctrineEventSubscriber occurs when you add/delete/update an object that is supp

[2015-07-22 10:03] chriwup commented on #13
Search is not a critical component for most companies, if syncing fails it is sad but it should in no way prevent the rest of the program from working correctly. For instance if the algolia api server is down (as it happens to all websites on this planet), I don't want it to bring down my server too.

If curl is not installed or bad credentials are given, I suppose the developer doing an Algolia i

[2015-07-22 10:05] chriwup commented on #13
Side note: as we're dealing with a doctrine subscriber here, I see no way of catching exceptions thrown there on our side..

[2015-07-22 10:08] maxiloc commented on #13
@chriwup Yes, the algolia configuration is a good idea (with error thrown by default).

Can you modify the pull request to handle it ?

[2015-07-22 13:36] chriwup commented on #13
I have updated the pull request.

[2015-07-22 13:37] maxiloc commented on #13
@chriwup Thanks a lot, I am gonna test it and merge it asap

[2015-07-22 16:02] gregquat opened #17 "Related objects are not updated propertly"
Hi,

I have some problem with updates. Let's take this object :

{ 'user':
    'firstname' : 'john',
    'lastname' : 'doe',
    'address' : {
        'city': 'Paris',
        'number': 123
    }
}

I want to index "firstname", "lastname" (with an autoIndex on User). I also index this method :

getStringAddress() { return $this->getAddress()->getNumber().' '.$this->getAddress()->getCity();}

but w

[2015-07-22 16:20] maxiloc commented on #17
@gregquat Thanks. Yes I already planned to remove this creation/update separation, will be available soon

[2015-07-22 16:22] gregquat commented on #17
@maxiloc Great, thanks. I haven't done the PR since I do not understand very well you internal behaviour and I was afraid to do some mistake.

[2015-07-23 09:51] #10 closed

[2015-07-23 11:02] maxiloc commented on #13
Fixed with #14

[2015-07-23 11:02] #13 closed

[2015-07-23 12:46] #5 closed

[2015-07-24 08:54] fabientsr commented on #17
Hi,

I just tested this fix and the problem isn’t fully corrected.

The related object is updated only in the case of the main object is updated.
And even if the main object is updated, the others haven’t the update...

[2015-07-27 10:36] maxiloc commented on #17
We need to check if there is a way to go back to the parent to update it in case of a update on the relation

[2015-07-27 10:44] vvo opened #20 "Ability to change the default field for objectID"
The currently selected field for objectID is always the primary key, it could be useful to be able to provide another field for it.

[2015-07-28 08:42] maxiloc commented on #17
@fabientsr I didn't find a way to automatically do that. What I would recommend is to use manual indexing after updating the relashionship like this

[code]

ps: I am open to suggestions if someone has a better way to handle this case

[2015-07-28 08:42] #17 closed

[2015-07-28 10:24] fabientsr commented on #17
Ok. Thanks.

[2015-07-28 14:27] chriwup commented on #17
@maxiloc : will the manual indexer check the IndexIf property first before indexing or do we have to check it manually before calling index() ?

[2015-07-28 14:31] maxiloc commented on #17
@chriwup Yes the check is supposed to be done even with manual indexer

[2015-07-28 16:12] chriwup commented on #17
We've implemented our own fix for this kind of problem, here's how it works if others have the same issue:
- created an interface that expects a getObjectsToIndex() function
- all classes related to the main one need to implement this interface, and return the "mappedBy" property
- a subscriber class called on the doctrine postUpdate event : it processes only entities that implement our interface

[2015-08-06 06:45] mpclarkson opened #22 "Private properties in Indexer - can you make them protected?"
Hi there

I need to implement a custom Indexer but I'm having some issues with private properties.

Specifically, is there any chance you could make the following properties in the `Indexer` clas `protected` rather than `private`, or perhaps type hint the listener service so it will accept an `IndexerInterface` rather than only the base class?

[code]

I can extend the class and inject extra depen

[2015-08-06 06:49] mpclarkson commented on #22
Basically, I am trying to override this method as follows but I can't access these private properties:

[code]

[2015-08-06 07:46] maxiloc commented on #22
@mpclarkson Just made them protected.

[2015-08-06 07:46] #22 closed

[2015-08-06 07:51] maxiloc commented on #22
430e732806a89a00f9430afb45b2b24ba886374f is better :)

[2015-08-06 08:11] mpclarkson commented on #22
Awesome thanks so much.

[2015-08-13 01:52] mpclarkson opened #23 "attributesForFaceting"
Hi there

I don't believe the `attributesForFaceting` annotation is working. I have the following mapping but the facets are not created. The indices are populated fine other than the missing facets.

This is using Symfony 2.7.3.

[code]

[2015-08-13 01:53] redox commented on #23
Hey @mpclarkson,

did you apply the settings with `php app/console algolia:settings --push` after adding this `attributesForFacetting` index setting (https://github.com/algolia/AlgoliaSearchBundle#index-settings) ?

[2015-08-13 01:56] mpclarkson commented on #23
Oops, sorry I missed that.  Would be nice if it were automatic though - one less deployment step!

Thanks for the prompt response.

[2015-08-13 02:01] mpclarkson commented on #23
H

[2015-08-13 02:04] mpclarkson commented on #23
Hi there

I'm having some problems running this command associated with constructors caused by line 148 in `vendor/algolia/algolia-search-bundle/Indexer/Indexer.php`

The bundle instantiates an entity here ` $entity = new $class();` but this throws an exception if the constructor requires arguments.  Until now, I've been able to get around this with our own entities by allowing null but this doesn

[2015-08-13 02:14] mpclarkson commented on #23
Changing this line to `$entity = $reflClass->newInstanceWithoutConstructor();` fixes the problem. I'll submit a PR if you want?

[2015-08-13 21:19] redox commented on #23
thank you for the investigation. :) We've decided to not set the settings automatically because it's kind of complex to detect if we need to save them or not -> since PHP is stateless, we would need to check if the settings changed at each indexing.

Regarding the `newInstanceWithoutConstructor`, that's indeed a good idea. We would love to merge your PR!

[2015-08-13 22:25] mpclarkson commented on #23
Cheers. PR submitted.

[2015-08-13 22:25] #23 closed

[2015-08-19 10:43] psren opened #25 "Reverse-Routing – Index Urls of entities"
In the readme the ``url``is mentioned in the attributesToIndex

[code]

Is there any generator for reverse-routing a url?
I didn't find a way to do this and don't want to inject the container or something into my entities for that.

[2015-08-19 11:57] maxiloc commented on #25
@psren No there is no way to do that automatically. You need to have a custom method method getUrl on your model and index it in Algolia

[2015-08-19 11:57] #25 closed

[2015-10-04 09:52] tristanbes opened #27 "Call to a member function getProperties() on a non-object"
Hi,

After adding `@Algolia\Attribute` annotation on my properties (protected properties) I tried to index my entity using `sf algolia:reindex GamerCertifiedCvBundle:Cv`

But that gives me:

`PHP Fatal error:  Call to a member function getProperties() on a non-object in /Users/tbessoussa/workspace/seekteam/vendor/algolia/algolia-search-bundle/Indexer/Indexer.php on line 407`

`ldd(self::$indexSett

[2015-10-15 17:21] matts2cant opened #28 "Return code of the algolia:reindex command not Unix compliant"
I added this command at the beginning of my travis build in order to test some search-related features and my build crashes because the return value of the command is equal to the number of entities reindexed.

A quote from the [Advanced Bash-Scripting Guide](http://tldp.org/LDP/abs/html/exit-status.html) from the Linux documentation project:

[2015-10-16 10:34] #28 closed

[2015-10-16 15:38] matts2cant opened #30 "Memory problem when reindexing 21000+ entities"
When launching the reindex command on a table containing 21k+ entities, I got this error.

[code]

This may be due to the fact that the entity manager needs to be cleared between batches.
I'll try to look into it and submit a pull-request.

Best,

[2015-10-16 15:41] matts2cant opened #31 "Memory problem when reindexing 21000+ entities"
When launching the reindex command on a table containing 21k+ entities, I got this error.

[code]

This may be due to the fact that the entity manager needs to be cleared between batches.
I'll try to look into it and submit a pull-request.

Best,

[2015-10-16 15:55] #31 closed

[2015-10-16 15:59] matts2cant commented on #30
@maxiloc: To correct this bug, I need an access to some algolia credentials with higher API limits (as I don't want to use my production app's operations count). Are you able to provide me with that ? The app can then be removed as soon as the problem is fixed.

[2015-10-16 16:06] maxiloc commented on #30
@matts2cant Sure, I increased the quota for your growth plan, you can go ahead :smile:

[2015-10-16 16:11] matts2cant commented on #30
@maxiloc Great ! Can you do it on this app instead ?
AppID: FPA9BXUB7O

I use it on my development machine. I'd rather not use my production app for this :)
Thank you for the help.

[2015-10-16 16:17] maxiloc commented on #30
done

[2015-10-16 17:04] #30 closed

[2015-11-06 13:02] maxiloc commented on #27
@tristanbes Sorry for the late reply, Are you still experiencing the issue ?

[2015-11-06 13:32] tristanbes commented on #27
well i abandonned, but yeah each time i tried, facing this issue.

[2015-11-06 13:52] maxiloc commented on #27
Would you mind sending your class GamerCertifiedCvBundle:Cv

[2015-11-06 13:58] tristanbes commented on #27
https://gist.github.com/tristanbes/f43eb025dd11a7bf32d2 , please answer so i can remove the link after you saw it. It does not contain the Algolia annotation as i didn't kept them after I saw this was a dead end.

[2015-11-06 14:03] maxiloc commented on #27
Yes ok, I am done, I wanted to check annotations.
I am closing this as I am not able to reproduce it.
If you decide to give it another try and face the same issue you can reopen it, I will make sure to react on it quickly.

[2015-11-06 15:03] #27 closed

[2015-12-01 13:47] elodie-nazaret opened #33 "Call to a member function getProperties() on boolean"
Hello,

After adding @Algolia\Attribute annotation on a property with a ManyToOne assocation I tried to index my entity using `app/console algolia:reindex AppBundle:Project`.

But this command returns me an error :

`PHP Fatal error:  Call to a member function getProperties() on boolean in /home/elodie/workspace/my-project/vendor/algolia/algolia-search-bundle/Indexer/Indexer.php on line 407`

Here

[2015-12-01 13:57] maxiloc commented on #33
Ok that's weird, let's try to narrow it down:

Can you try without this line => https://gist.github.com/elodie-nazaret/acc9765039385ec8f9aa#file-project-php-L16

Then if it's not working, can you also try without "OneToMany" attributes ?

[2015-12-01 14:11] elodie-nazaret commented on #33
I removed `@Algolia\Index()` but it did not work either.
When I delete all `@Algolia\Attribute` that are on OneToMany properties it works.

[2015-12-01 14:11] maxiloc commented on #33
Ok cool, I will look into it asap

[2015-12-01 14:12] elodie-nazaret commented on #33
Thank you

[2015-12-02 12:49] tristanbes commented on #33
ping @maxiloc do you have any ETA so we can adapt for this ingoing project that has a close shipping date ?

[2015-12-02 12:50] maxiloc commented on #33
I starting right now, so probably today

[2015-12-02 14:05] maxiloc commented on #33
I am still not able to reproduce the issue. I found another one related to oneToMany that I fixed (https://github.com/algolia/AlgoliaSearchBundle/commit/241bb848e03e2f62408d66af3c293f3767f87e9e)
It might also fix this one.

@elodie-nazaret @tristanbes Can you try with "algolia/algolia-search-bundle": "dev-master" in your composer.json and tell me if you still encounter the issue.

I also suspect s

[2015-12-02 15:25] elodie-nazaret commented on #33
I tried with "algolia/algolia-search-bundle": "dev-master" but it returns me the same error.

[2015-12-02 15:45] tristanbes commented on #33
[code]

Can you try to reproduce it inside a brand new Symfony2.8 standard edition please ? https://github.com/symfony/symfony-standard/tree/2.8
If I had the problem inside my other project (in 2.4) and this happens again in (2.8) the issue must be real.

[2015-12-02 16:01] maxiloc commented on #33
I was on 2.6, tried on a clean 2.8 and it still working.
Any debugging you could do to could really help to find where it's coming from, in the meantime I will continue investigating

[2015-12-03 10:37] maxiloc commented on #33
Ok I managed to reproduce. The issue comes when a relation is an Algolia\Attribute but this relation class does not have any Algolia\Attribute.

[2015-12-03 10:47] maxiloc commented on #33
@tristanbes @elodie-nazaret There is no fix for this, what I did is throw an more explicit error so that it's easier to understand why it's failing

[2015-12-04 22:27] tristanbes commented on #33
Sure, maybe you can elaborate on what we were doing wrong ? And add it in the documentation of the bundle so this won't happen again.

[2015-12-07 09:42] maxiloc commented on #33
Yes when you are indexing a model in Algolia that have a relation the bundle will load this relation and get all indexable algolia attribute in an array and append it to the initial model object.

For example:
[code]

If the Author model don't have any Algolia attribute your were getting a non explicit error. To fix it you need to put Author::$name as an Algolia attribute so that the final record

[2015-12-07 10:14] tristanbes commented on #33
yeap. Thanks. will close the issue once we test this and see if we get rid of this error. :-)

[2015-12-07 10:33] elodie-nazaret commented on #33
I tried to add @Algolia\Attribute() in my entity linked but it seems that it doesn't work either... I cleared cache and restarted php before.
There is a part of my Entity Project :
[code]
And there is a part of my Entity RegionalManagement :
[code]
And when I tried to execute `app/console algolia:reindex AppBundle:Project`
It sends me the error :
[code]

Did I do something wrong?

[2015-12-07 10:42] maxiloc commented on #33
@elodie-nazaret Can you send me the full file of Project and RegionalManagement ?

[2015-12-07 10:47] elodie-nazaret commented on #33
Of course :
Project : https://gist.github.com/elodie-nazaret/acc9765039385ec8f9aa
RegionalManagement : https://gist.github.com/elodie-nazaret/b8cb9a69dd472ee2bfdd

[2015-12-07 11:11] maxiloc commented on #33
@elodie-nazaret I fix a potential issue with proxies, can you try again with "dev-master"

[2015-12-07 11:30] elodie-nazaret commented on #33
I changed version to "dev-master", updated composer, cleared cache, restarted php but I still have the same error. I checked that I have your corrective.

[2015-12-07 14:26] elodie-nazaret commented on #33
ping @maxiloc Do you have an idea of why it still does not work ?

[2015-12-07 14:27] maxiloc commented on #33
Not yet I am not able to reproduce

[2015-12-07 14:43] tristanbes commented on #33
@maxiloc to be more convinient, i've invited you to the repo in order you to reproduce the issue if you'd like. I'll remove your rights in an hour or so.
[code]

[2015-12-07 14:44] maxiloc commented on #33
ok I'm checking that right now

[2015-12-07 15:01] maxiloc commented on #33
Ok I found it !! I am on the fix

[2015-12-07 15:02] tristanbes commented on #33
Great, thanks, ready to press `composer update` . ;-)

[2015-12-07 15:32] #33 closed

[2015-12-07 15:33] maxiloc commented on #33
@tristanbes @elodie-nazaret I pushed to master, it should be good. It was due to the doctrine proxies that were interfering in the indexing

[2015-12-07 15:33] maxiloc commented on #33
If it is working for you I will tag a new version

[2015-12-07 15:38] tristanbes commented on #33
Thanks. :-) @elodie-nazaret will tell you if it's ok for tagging.

[2015-12-07 15:48] elodie-nazaret commented on #33
It works now !
Thanks you @maxiloc  :-)

[2015-12-24 04:42] aequasi commented on #3
Any update on this? I'd love to use this

[2015-12-31 13:06] Nainterceptor commented on #20
Hi @vvo, my PR #34 is related to this issue.

[2015-12-31 14:44] Nainterceptor opened #35 "setSettings is never called on index creation"
Hello,

Use case :

[code]

Expected : `app/console algolia:reindex --unsafe MyBundle:Activity` should trigger `\AlgoliaSearch\Index::setSettings` to persist `Algolia\Index` annotation

Current behavior : My entity is persisted but configuration mismatch. If I set a breakpoint on the `setSettings`, the function is never called. Is it normal ?

Regards,
Gaël

[2015-12-31 15:10] Nainterceptor commented on #35
This work around do the trick but seems to be ugly. https://github.com/AdrenalineHunter/AlgoliaSearchBundle/compare/master...AdrenalineHunter:patch-issue-35

Not a solution, just a fix for my case, I don't have more time to allocate to this task, sorry for that.

[2016-01-04 14:44] vvo commented on #20
Awesome! @maxiloc is on it and gave you feedback

[2016-01-05 23:45] Nainterceptor commented on #20
If the PR close this issue, maybe you can send a voucher to @AdrenalineHunter =p

[2016-01-06 10:41] maxiloc commented on #20
@Nainterceptor Thanks for contributing. We do not give voucher for github contribution. But feel free to send us your postal address via email so that we can send you some swag :smile:

[2016-01-06 10:41] #20 closed

[2016-01-26 16:53] gregquat commented on #17
Hi, It seems I still have this kind of problem.
The original problem was "when I change an entity property, the children entities are not updated". I think it's fixed now.
Now, it seems I have this problem : when I update a children entity, the change is not """always""" propagated to Algolia.
I'm not 100% sure of that but I made some tests.

If I take back my example above, I have a user and an a

[2016-01-27 09:15] maxiloc commented on #17
@gregquat Yes that is one of the limitation of orms not only doctrine. When you update a child entity it's not triggering an event for the parent.
So you need to trigger the indexing manually with:
[code]

[2016-01-27 09:29] chriwup commented on #17
@gregquat you'll need to implement what I described in my comment above if you want to make it maintainable and easy to add new objects.

[2016-03-15 16:55] tristanbes opened #38 "Timeout config"
Hello,

Since our new hoster installed a dedicated firewall (stormpath), the algolia request is taking at least 6 seconds to accomplish (i don't know why)

Can you expose a global settings in the bundle to increase the timeout option of the php library undearneath please ( http://stackoverflow.com/questions/35693340/algolia-php-sdk-hosts-unreachable
) ?

[code]

[2016-03-15 17:27] redox commented on #38
Hi @tristanbes, could you tell us what is the version of the underlying `algoliasearch` API client that you're using? I know the Symfony bundles depends on `1.6.0` but just want to be sure we're not impacted by old cURL bugs we've fixed recently.

[2016-03-15 17:31] tristanbes commented on #38
We're on 1.6.3.
Sysadmins fixed the firewall itself and now we're hitting you in a normal way ~1sec instead of 6. So having a timeout option as an global config for the bundle could be great, but it's not critical to us any longer ;-)

[2016-03-15 17:33] redox commented on #38
Alright, good to know :) We're gonna add it to the roadmap but if you want to submit a pull-request, I would be happy to merge it so we can move fast(er)!

[2016-04-06 18:45] sgilberg commented on #30
Hi guys, I love this bundle and am currently integrating it in different places in our app. I ran across this problem when doing a relatively complex index of an entity that has about 43,000 records. When I run the reindex command, I hit a memory error after about 14,000 records. I tried doing a smaller batch size (100) and still only got to 16,000 records. Any ideas? My temporary solution was goi

[2016-04-06 18:47] matts2cant commented on #30
Hi @sgilberg,
Did you try adding "--env=prod" at the end of the reindex command ?

[2016-04-06 19:01] sgilberg commented on #30
Thanks Matt - I was worried that if I did that it would write to the _prod index instead of _dev, but is that ignored?

[2016-04-06 19:06] matts2cant commented on #30
Oh, yes that's correct. If you are using your *_prod index in production you might not want to do that.

In the "dev" environnement, Doctrine holds references to the managed entities for debug purposes and I think they might not be garbage collected even if the entityManager->clear() method is called. This might be the cause of the problem and that's why executing the command in the prod env might

[2016-04-06 19:21] sgilberg commented on #30
Thanks for the tip @matts2cant - you led me to a solution that I forgot about, which is to use the --no-debug option. Worked like a charm!

[2016-04-06 19:23] matts2cant commented on #30
Glad I could help :)

[2016-04-06 22:38] redox commented on #30
Thanks for your help @matts2cant :100:

[2016-04-07 22:02] sgilberg opened #39 "IndexIf ignored for related entities as attributes"
Hi, I'm not sure if this is a bug or if it's just a design that I need to work around:

I have an index on an entity A that has a OneToMany relationship with entity B. I put an @Algolia\Attribute annotation on that property, and in my entity B I put @Algolia\Attribute annotations on the fields that I wanted to include in A's index. Works great! The B entities are pulled in as an array of objects w

[2016-04-07 22:09] maxiloc commented on #39
The bundle does handle this. It make sense for your use case and I guess this could be doable, but I am not sure we want do that by default (that would be a breaking change), let's keep this issue open, we'll see how we can improve that

[2016-04-08 14:04] sgilberg commented on #39
Thanks @maxiloc - I can understand not wanting to do it by default, so I will work around it for now.

[2016-05-14 07:12] markitosgv opened #40 "Config index fields wihtout annotations?"
Is possible to do that? Or is planned to implement that?

I've got some entities from a third part vendor, and i can't put annotations in there.

[2016-06-09 20:45] florentdestremau opened #41 "Slaves config : facets on a slave indice"
Hi,

I'm trying to understand how I can set facets on a slave indice. I have annotations like this:

[code]

The problem is that the slave that  created does not have the same attributesForFaceting when I push the configuration so when I sort my results my facets widgets disapear :cry:

Any idea how to make this work ?

Cheers

[2016-06-10 10:20] florentdestremau commented on #41
Also i get an error `A slave index is already slave of another index` whenever i try to reindex after pushing my configuration to algolia, it's pretty annoying, what did I do wrong ?

[2016-06-10 11:01] maxiloc commented on #41
The second issue is probably related to the env, the same slave name is probably used for two envs. I am currently investigating the first one

[2016-06-10 11:05] maxiloc commented on #41
So the issue is, there is no set settings done on the slaves, we can fix that pretty easily but that would mean loosing the ability to customize independently the master and the slave.
Let's keep this issue open, we will probably need to introduce a new annotation

In the meantime the easier way to handle that would be to do a small php script on the side that handle the setSettings

[2016-06-10 12:07] florentdestremau commented on #41
What I would expect maybe is being able to configure something like:

[code]

[2016-06-10 12:08] maxiloc commented on #41
yes it's a bit more tricky than this because you could have two slaves with two differents set of settings but yes that's the idea

[2016-06-16 14:01] #39 closed

[2016-06-16 15:43] maxiloc opened #42 "Synonyms can not be set"
We restrict settings that can be set and synonyms is not one of them

[2016-06-22 15:25] chrjean commented on #42
👍

[2016-06-23 16:08] #42 closed

[2016-06-30 23:50] speedblue opened #44 "Document schema change behavior"
We don't detect schema change, I had an user in support asking why his index was not correctly updated after a schema change. We should just add a small line in the documentation that indicates that a reindexing need to be done after a schema change.

[2016-07-01 09:35] #44 closed

[2016-07-14 12:42] florentdestremau opened #46 "Serialize linked entity before indexing to algolia"
Hello everyone,

I have a tricky situation at the moment:

[code]

But when I try to reindex, I get an error message:

[code]

I would like Algolia to index the **serialized** version of my `Coach` entity (which has its own serialisation rules).

Is there a trick I could use ? The simplest alternative would be to construct and array with the data I need in a getter but I would just duplicate the w

[2016-07-14 12:43] maxiloc commented on #46
@florentdestremau I have seen this before, but I think we fixed it. Are you using the latest version ?

[2016-07-14 13:08] florentdestremau commented on #46
Yep `1.0.13`.

What is the expected behavior ? I would like algilia to sync the `@Serializer\Expose()` result.

[2016-07-14 13:17] florentdestremau commented on #46
Worth noting: the `Coach` entity is **not** indexed by Algolia

[2016-07-14 19:57] maxiloc commented on #46
@florentdestremau It should strip the Proxies\__CG__ from the class name.

Can you send me the full stacktrace, by launching the indexing command with -v

[2016-07-15 08:27] florentdestremau commented on #46
There we go:

[code]

[2016-07-15 12:18] maxiloc commented on #46
Just pushed f57f482 on master, It might fix your issue.
Can you try to use dev-master in you composer file and tell me if it works

[2016-08-03 19:47] lefakir opened #47 "Index name prefix problem in config.yml"
I set up the bundle as mentionned in the documentation (Fill in your Algolia credentials) :

[code]

And i get this error :

[code]

[2016-08-08 20:47] maxiloc commented on #47
@lefakir What version of the package are you using ?

[2016-08-08 20:49] maxiloc commented on #40
@markitosgv Sorry for the long delay. We are thinking about moving away from annotation, but it will require us to probably start from scratch (so it could some time). In the meantime, what you can do is use the php client directly to push your data

[2016-08-11 08:04] lefakir commented on #47
Hi,
In composer.lock it is **1.0.13** and in composer.json it is set to `"algolia/algolia-search-bundle": "^1.0"`

In parameters.yml i also tried to set :
[code]
There is no error but the index feeded in the algolia dashboard is always _MyEntityName_dev_.
I expect this to be _MyEntityName_local_ our _local_MyEntityName_, right ?

Hope it helps

[2016-09-01 12:24] florentdestremau opened #51 "Missing entries during a reindex"
Hello guys,

I am having trouble with algolia while reindexing an entity. There are some entries missing !

Here is my IndexIf:

[code]

And here is my database state:

[code]

And I have 1687 records on my algolia dashboard.

Now the reindex command used to work on smaller amounts of entries, but since we made a x3 it seems some are missing. Event stranger, if I make any operations on a missing e

[2016-09-01 12:29] rayrutjes commented on #51
Hey @florentdestremau ,

Are you sure the `published` and `occuringDate` have the correct values when indexing at first? Could you log that to make sure?

Also, I would log all calls to isAlgolia and try to correlate that with the missing records.

To finish, we only have soft limits in Algolia so no problem there.

[2016-09-01 12:48] florentdestremau commented on #51
Yes they are well defined because other than that the events are fully functional on the rest of the website.

Update: I imported my production database and in local environment the first reindex worked fine with all events synced, but a reindex over it gave the exact same amount of events.

Starting to see a pattern but not quite sure about the reason.

Tried deleting completely the index and rei

[2016-09-01 13:18] rayrutjes commented on #51
Please also check that you check out your php logs.

[2016-09-01 14:59] florentdestremau commented on #51
Not sure how to monitor useful information...

[2016-09-01 16:01] florentdestremau commented on #51
Solved it by indexing manually. No idea why it didn't work though..

[code]

[2016-09-08 13:56] dupuchba opened #52 "Any workaround for mapping with yml ?"
Hello all,

I am actually trying to convince my client to take Algolia for it's Symfony application. They currently use yml. Is there any way to map entity in this case ?

Cheers

[2016-10-29 17:47] Agathver opened #56 "Support Inheritance and Doctrine Mapped Superclasses ?"
We have a entity structure with Single Table Inheritance and Doctrine mapped superclasses. However, indexing of properties in such a scenario appears to be not supported.

Are we  doing anything wrong or are such configurations not supported ?

Here is an example of our entities

[code]

[code]

Expected: Index for Answer should contain the field `title` too

[2016-11-10 08:36] jonasdk commented on #41
@maxiloc What is the conclusion here? Is it something that would need to be changed by Algolia or is it implementation/usage of the indexes that creates this issue?
Can you point me to an example of solution of what you talks about

[2016-12-05 14:04] maxiloc opened #58 "Avoid serialization of the objectID"
In order to avoid to have to do something like

[code]

[2016-12-13 15:19] araines opened #59 "Is it possible to index serialized entities rather then properties directly?"
I couldn't find mention of it in the documentation, so I suspect the answer is "no" but I've also seen a few issues kicking around here talking about Serialization.

The particular use case I'm going for is something similar to how the FOSElasticaBundle can be configured, whereby we would pass our entities through the Serializer before it goes to Algolia.  This would be great because then we are u

[2016-12-19 16:49] hmartin commented on #47
@lefakir fix in 2.0.0

[2017-01-03 09:24] rayrutjes opened #85 "Update attribute namings"
- `attributesToIndex` -> `searchableAttributes`
- `numericalAttributesToIndex` -> `numericAttributesForFiltering`

[2017-01-03 09:27] seafoox commented on #85
Once done, please update
[code]
in the Guide about data formating, located at
`guides/indexing/2-formatting-your-data.html.md.erb`

[2017-01-04 13:11] rayrutjes commented on #59
Hi @araines , sorry about the delay here.

Indeed today everything is kinda strongly coupled together making your approach hard to implement.

We will make sure the next version correctly introduces the right abstractions so that everyone can use their own implementations in the different layers.

I'm closing this for now as it will be solved in a new major release.

[2017-01-04 13:11] #59 closed

[2017-01-04 13:14] rayrutjes commented on #38
Closing this ;)

We could indeed let users easily choose a default timeout in the future.
I'm afraid it will lead to hiding infra problems though.

[2017-01-04 13:14] #38 closed

[2017-01-04 13:44] rayrutjes commented on #59
I flagged it with V3 label to be sure we don't miss anything.

[2017-01-04 13:45] rayrutjes commented on #58
Given todays tightly coupled design, there are a lot of things we can improve.
Flagging all the feedback of this kind as V3 to be sure we don't miss it.

[2017-01-04 13:45] #58 closed

[2017-01-04 13:46] rayrutjes commented on #52
Sorry about the delay here. We will create better level of abstractions in version 3.
Labelling this to be sure we don't forget it in our roadmap.

[2017-01-04 13:46] #52 closed

[2017-01-04 13:47] #46 closed

[2017-01-04 13:49] rayrutjes commented on #41
As @maxiloc explained this is tricky given the current design. We will make sure we allow this kind of use cases by better designing our different abstractions in V3. Labelling this issue to be sure we don't forget your use case. Please bear with us, and sorry about the delay.

[2017-01-04 13:49] #41 closed

[2017-01-04 13:50] rayrutjes commented on #35
We will make sure this works as expected in V3. Flagging it.

[2017-01-04 13:50] #35 closed

[2017-01-04 13:51] rayrutjes commented on #40
Flagging this as part of V3, we definitely need to work on our levels of abstractions.
Thanks for reporting this in the first place.

[2017-01-04 13:51] #40 closed

[2017-01-04 13:52] #47 closed

[2017-01-04 13:54] rayrutjes commented on #51
Closing this @florentdestremau . Feel free to re-open if you have more context. Thanks for reporting it in the first place.

[2017-01-04 13:54] #51 closed

[2017-01-04 14:30] #85 closed

[2017-01-04 16:33] florentdestremau commented on #51
@rayrutjes ok, a friend of mine told me it could be a network latency when dealing with large amounts of requests...anyway I don't use the reindex now, I index / unindex manually the events that are not published anymore, much better and cheaper in terms of queries :)

[2017-01-10 09:59] bourdeau opened #89 "Order Annotation maters for perEnvironment indexation"
Hello,

[code]
=> Works as expected

[code]
=> Ignore perEnvironment=false

Is it normal ?

[2017-01-10 10:40] rayrutjes commented on #89
Not expected ;)

Could this somehow be related to local caching of entity metas on your side?

Otherwise, if you find the main reason, I'd gladly accept a PR 👍

[2017-01-20 11:14] brunonic opened #91 "Boolean value after form submit"
There is a difference between two case for a boolean value.
I have a simple symfony form for create and edit a BlogPost entity.

My form
[code]

My entity
[code]

And now this my index. On the top, the result of the index after form submit. On the bottom, the result after a algolia:reindex command.

![screen shot 2017-01-20 at 07 12 13](https://cloud.githubusercontent.com/assets/1011840/22145243/c

[2017-01-20 12:41] rayrutjes commented on #91
Hi @brunonic
I was informed of your issue internally, thanks for taking the time to actually submit an issue here.

In the end, my first conclusion would be that the casting of the values only takes place when retrieving the values from the database.

Currently, we do listen for the flush event and act upon that and in that case, the cast didn't take place yet.

I will investigate this and see if

[2017-01-30 16:32] rayrutjes commented on #89
Hey @bourdeau

i've been unable to re-produce this, closing it for now.
Feel free to give us more context to re-produce it.

[2017-01-30 16:32] #89 closed

[2017-01-30 16:35] rayrutjes commented on #91
Hey @brunonic , so the thing is that we send the entity in the state it is in just before being sent to the database. My guess is that your form actually sets `1` or `0` for the `visibility` property.

When re-indexing everything though, the results are being fetched from the database and casted to the correct type.

To enforce the boolean, here is what I suggest you add to your entity:

[code]

[2017-02-02 10:26] KevinDumont opened #92 "Replicas index name does not support index_name_prefix and Symfony env"
Hi all,

The bundle does not seem to use index_name_prefix and Symfony env to create replicas index name.
Ex: Class Product
Main index name will be [index_name_prefix]\_Products\_[symfony_env] but there is no way to do the same with replicas

[2017-02-03 20:39] maxiloc opened #93 "We are not able to set the sorting of replicas in annotation"

[2017-02-04 00:25] rayrutjes commented on #93
Could you give more details so that I can implement something?

[2017-02-04 13:06] maxiloc commented on #93
We need to be able to do the same thing than in laravel.
https://github.com/algolia/algoliasearch-laravel#primaryreplica

1) Set the replicas settings for the index. We handle that already
2) Being able to set the replica settings. If I am not wrong, we don't handle that

[2017-03-03 11:04] sergiownd opened #101 "Index Relations Symfony"
Hei, I'm trying to idex a relation on this way:
[code]

But when I run my

Im getting this error:
[code]

Any help?

[2017-03-06 11:27] sergiownd commented on #46
Hei im getting the same error with my entity:

[code]

Its get this error:

[2017-03-15 17:12] odecharette commented on #101
hi

You need to index your targetted entity : 'speciality' with an * @Algolia\Attribute on the column you want to get (for exemple : name)

then in you index professionals you'll have speciality.name = "azerty"

[2017-03-15 17:14] odecharette opened #102 "algolia:reindex error : A slave index is already slave of another index"
Hi,

When I reindex my entity with the command `php bin/console algolia:reindex BecowoMemberBundle:Membe` I get the error

A slave index is already slave of another index

I found a solution but it's heavy !
I delete the replica of my index in the dashboard
Then reindex my entity
Then redo the replica in the dashboard

Any help ?
Thanks

[2017-03-28 05:33] #3 closed

[2017-04-04 07:21] julienbourdeau commented on #102
Hi @odecharette,
Can you give us more details about your configuration? Like the index settings and anything you feel might be important.
I think you're solution is the good one. I'll look deeper when I have more details :)

[2017-04-04 10:23] julienbourdeau commented on #56
Hi @Agathver,

I had a look and indeed the entities are not indexed, although the index is created. I'll work on that.

Thank you for opening an issue.

[2017-04-14 09:26] julienbourdeau commented on #56
Hi @Agathver,

I gave it another shot and I got it to work! I think your problem is because you are setting title to `protected`. You need to either have:

* public properties
* public getter/setter

Can you try again and see if you get it too work as expected?

[2017-04-14 09:27] #56 closed

[2017-04-18 16:58] julienbourdeau commented on #92
Hi @KevinDumont,

Have you found a workaround for this issue? I'm looking at it but with the current design it's not very straight forward.

Unless I missed something I don't think you can set the replica settings with the annotation. Maybe we should introduce something like this and introduce the per environment name at the same time.

[code]

What do you think?

[2017-04-21 10:14] jupeter opened #118 "Could to Index entity, when there is relation with field, that was soft-deleted"
In case, when we got DoctrineExtension and turn on SoftDeletable behaviour.
If on related table there is entity, that was deleted, on algolia:reindex command system throw exception like:

[code]

[2017-05-04 12:25] KevinDumont commented on #92
Hi @julienbourdeau

Yes you are right, we can't set replica settings with annotation.
Don't forget we can have several replicas, maybe we can have something like this

[code]

But what about people who already use the current annotation ?
[code]

[2017-06-22 16:37] demagu opened #122 "How do I disable Algolia in test env?"
Tried conditionally register AlgoliaBundle in my `AppKernel` (so it's available only in `prod` and `dev` environments) but then my tests fail due to non-existent services like `"algolia.indexer"`...

Doesn't seem I can disable Doctrine's listeners in `config_test.yml` just for AlgoliaBundle. Can I?

[2017-06-23 08:53] julienbourdeau commented on #122
As of today there is no easy way to do it. I think a good way would be to create some kind of mock.

I'm thinking of the `NullEngine` of Laravel Scout for instance. With Scout you can easily replace the AlgoliaEngine by this one, then no operation is ever performed.

We could have a class that behave like the indexer, with the right method but doesn't do anything.
If you manage to do it, it would

[2017-06-23 13:59] demagu commented on #122
Thanks for the input @julienbourdeau

What would be the benefit of doing it this way versus just adding ability to disable listeners per environment (in config files)?

Since bundle is already depending on Doctrine's `onFlush` and `postFlush` events adding configuration options like:

[code]
[code]

Would allow for clean and flexible way of controlling of bundle's behaviour.

[2017-08-08 00:53] samjarrett opened #123 "Embedded objects (incl. Doctrine embeddables) are not indexed"
I've got a doctrine entity that makes use of Doctrine's `@Embeddable` objects.  When I index the entities (using either the Manual Indexer, the Automatic Indexer, or the reindex command), embedded objects end up as null values.

Upon investigation, I noticed that `Algolia\AlgoliaSearchBundle\Indexer\Indexer::isEntity()` currently enforces only scalar values and Doctrine entities to be indexed, and

[2017-08-08 04:19] alcaeus commented on #123
@samjarrett What would you expect to happen? Would you expect fields from the embeddable to be directly included in the indexed document (similar to how the columns are added to the database table) or as a nested object (similar to how embedded documents are treated for MongoDB ODM?)

[2017-08-08 04:30] samjarrett commented on #123
Hey @alcaeus, I would expect that it would try to serialise them like it does a regular entity that you're including as an attribute?

[2017-08-17 08:50] qdequippe opened #127 "Need to retrieve manually index name from Entity"
Hi,

I need to retrieve manually the index name from an Entity, for example I have an entity named "Member" which is indexed. The index name on Algolia is "dev_Member" and I need to have this to generate a secured api key with some filters.

I saw there is a method `getAlgoliaIndexName` but she is tagged as internal and she doesn't work if this method `discoverEntity` is not called before.

Please

[2017-10-06 12:54] julienbourdeau opened #132 "Rename `attributesToIndex` to `searchableAttributes`"
See https://discourse.algolia.com/t/searchableattributes-property-not-working-in-symfony-2-8/3067

[2017-10-31 13:57] florentdestremau commented on #122
Facing the same issue at the moment, I would suggest using an interface instead of direct service calls so that the service can be overriden at will

[2017-10-31 14:08] florentdestremau opened #136 "Use an interface for Indexer or make it fully extendable"
While trying to make tests without hitting on an actual algolia api, I am sadly seeing that many classes are private, and there is no interface so absolutely no way to override and mock the bundle.

[2017-11-07 22:54] aequasi opened #137 "Support Symfony 4.0"

[2017-11-14 12:05] tristanbes commented on #122
Facing the same issue :-)

[2017-11-17 07:57] #91 closed

[2017-11-28 14:51] julienbourdeau commented on #137
Hi @aequasi,

I'm testing the bundle on the [symfony/demo](https://github.com/symfony/demo) project and so far it worked pretty well. Did you run into any particular issue?

[2017-11-28 14:53] alcaeus commented on #137
@julienbourdeau composer.json does not allow for Symfony 4.0 packages to be installed - not sure how you managed to test it against Symfony 4 ;)

[2017-11-28 14:58] julienbourdeau commented on #137
I used Symfony Flex since we have a [contrib recipe](https://github.com/symfony/recipes-contrib/tree/master/algolia/algolia-search-bundle/2.2). I didn't think about not using Flex 😄

[2017-11-28 15:00] alcaeus commented on #137
You can use flex for it - as long as you started with Symfony 4 the results should be the same as without flex. The problem is not flex, the problem is the allowed set of dependencies.

[2017-11-29 15:37] #132 closed

[2017-11-29 15:58] julienbourdeau commented on #137
I'm currently thinking that the `2.x` version will remain compatible with Symfony 3.x while the new 3.0 version will be dedicated to 3.4 and 4.x version. I'll write the upgrade guide but it should be pretty straight forward.

If you get to try the 3.0 version, I'd love to here your feedback.

[2017-11-29 16:02] julienbourdeau commented on #101
Thanks @odecharette!

I'm working on a new version (3.0) and I have not kept this behavior, you can now index relationship even if they're not searchable (or indexable) entities.

If you find time to try this new version, please let me know what you think of it :)

[2017-11-29 16:02] #101 closed

[2017-11-29 16:30] julienbourdeau commented on #93
The new version of the bundle won't be offering this kind of features. I think it's better if settings are handled in a json file or in the dashboard. It won't be added to the 2.x version either.

[2017-11-29 16:30] #93 closed

[2017-11-29 16:35] julienbourdeau commented on #92
Thanks for your inputs. In the end, I'm working a new version of the bundle and it won't have this type of feature. I won't be adding this to the 2.0 version.

I believe it's best if settings are managed in the dashboard or in a json file in your project (upcoming feature on 3.0). This is the only way to ensure that 100% of the Algolia features are available.

[2017-11-29 16:35] #92 closed

[2017-11-29 18:41] aequasi commented on #137
Upgrading to allow 4.0 shouldn't break BC, from what I've seen. Not much need for a major version increment. That being said, if you dont want to support 2.x or symfony 3.x then that works

[2017-11-29 19:10] tristanbes opened #139 "[3.0] Normalizers usage"
Hello,

I seen that 3.x uses a new concept to serialize data based on the Symfony serializer which is a great move IMHO.

If I already have a set of normalizer for my objects, BUT i don't want them to be used for Algolia (and use the one I provide instead), is there a way to do this ?

Can I use the `normalizers` key to provide only "whitelisted" normalizers ?

[code]

Also, in that case I will ha

[2017-11-29 19:19] tristanbes commented on #139
OR,

If I decide to go for 1 normalizer, and do stuff like:

[code]

[2017-11-29 22:41] tristanbes commented on #139
And also, how to mimic the `IndexedIf()` annotation ?
I mean if the normalizer returns an empty array, it won't get indexed, right ?

[2017-11-29 23:14] tristanbes commented on #139
Also, i'm really interesting in testing the v3, but my account has a lot of objects and I've a paying account, so can you do something to not consume my quotas that'll be used for my production please ? (appId: HO2U66MC0P) @julienbourdeau

[2017-11-30 13:35] julienbourdeau commented on #139
@tristanbes Can you create a new free app in your Algolia dashboard and email me at julien.bourdeau@algolia.com? I will add you some free quota ;) Thanks a lot for trying.

About the normalizers, the package will loop through the normalizers in order and use the first one where the method `supportsNormalization()` returns _true_.

The searchableEntity will call the `normalize()` method with the `s

[2017-12-01 13:59] tristanbes opened #143 "[3.0] Import command via indice name"
It could be nice to have the `search:import` command to accept name of the indice for DX.

So given this config:

[code]

When running:
`search:import cv` it works out of the box (or even a list of indices to import)

It's better than to write `search:import AppBundle:Cv` (because `AppBundle:Cv` doesn't even appear in the configuration)

What do you think ?

[2017-12-01 14:07] rayrutjes commented on #143
I agree, we should only ask for the index name, the actual data retrieving strategy should be abstracted away from the command.

[2017-12-01 14:17] tristanbes opened #144 "[3.0] Custom Normalizer is not called"
Given a customized `Normalizer` (that relies on other `Normalizers`) defined as a service & registered in the Symfony app.
I would  expect the search-bundle to use it and but that's not the case.

[code]

[code]

[code]

## Result

Default Algolia normalizer is used instead of mine

![hosted_cloud_search_as_a_service___algolia](https://user-images.githubusercontent.com/346010/33486652-2a646a96-d6a

[2017-12-01 14:30] tristanbes commented on #144
PS: I don't have any other `Normalizer` that supports this `Cv` class. I have only 1 for this class.

[2017-12-01 14:43] tristanbes opened #145 "[3.0] Environement indexing is no longer possible"
I was writing the `UPGRADE` guide when I realize it's no longer possible to achieve the per environnement indexing feature.

In the guide I was writing that you need to overwrite the indice name like:
[code]

[code]

But if you do that 2 things will happen:

1. it will create a new `indice` inside algolia with name `posts_dev` and push data inside it which is good.
2. it will still erease/update d

[2017-12-01 15:20] julienbourdeau commented on #145
While doing it I was thinking that prefix would be enough.

In your example, you can override the `algolia_search.prefix` value. I like that it's a prefix rather than suffix, I find it less error-prone, but it might be only a personal opinion. ^^

Let me know what you think. At least, it definitely needs doc about "how to setup dev env".

Thanks for bringing this up!

[2017-12-01 15:22] tristanbes commented on #145
Works for me, will add in the `UPGRADE`

[2017-12-01 15:22] #145 closed

[2017-12-01 15:29] tristanbes opened #146 "[3.0] Non-existent service "search.index_manager" on prod env"
When running

`bin/console search:import <entity> --env=dev` -> does the job.
`bin/console search:import <entity> --env=prod` -> throws an error.

[code]

<img width="1420" alt="1__app_seek-team___srv_app__ssh_" src="https://user-images.githubusercontent.com/346010/33489664-d2a9e222-d6b4-11e7-94e3-4ae5eacbce1c.png">

[2017-12-01 15:30] tristanbes commented on #146
Huh, this one's on me. Forgot to cache clear

[2017-12-01 15:30] #146 closed

[2017-12-01 15:58] julienbourdeau commented on #146
Happens to me all the time :D

[2017-12-01 17:17] julienbourdeau commented on #144
Everything looks correct. Can you dump the configuration [here](https://github.com/algolia/search-bundle/blob/master/src/IndexManager.php#L181) and make sure it's aligned with your yaml?

Can you also double-checked the config applies to the correct environment?

I know it sounds silly but currently, the only way the default normalizer is used is if no normaliser is configured. It's a default valu

[2017-12-01 17:25] tristanbes commented on #144
[code]
Looks good in the dump, yet still seeing data from "default" normalizer

[2017-12-01 17:34] tristanbes commented on #144
Found the bug. Patch incoming

[2017-12-01 17:42] tristanbes opened #148 "[v3] No supporting normalizer found"
After applying the #147 patch, it will give:

[code]

Yet, my `CvNormalizer`
[code]

[code]

[2017-12-01 17:45] tristanbes commented on #148
found the bug.

[2017-12-01 18:51] tristanbes opened #149 "[v3] Returning an empty array still index the entity"
Inside a custom `Normalizer` returning an empty array still index the entity

![hosted_cloud_search_as_a_service___algolia](https://user-images.githubusercontent.com/346010/33498272-01d664aa-d6d1-11e7-851e-571acef54576.png)

[2017-12-02 16:11] tristanbes opened #154 "[3.0] Number of indexed entities is not correct"
In case of your normalizer add some logic to exclude an entity from being index you got the wrong numbers.

In my example, I got 45,000 indexed entities displayed out the console, but when I go inside the algolia dashboard, it's only 17,000 that are in the index. It can be confusing for the end user.

IMHO the counter that needs to be displayed on the terminal should be a counter pulled from the A

[2017-12-03 15:16] tristanbes opened #156 "[3.0] Class <entity> is not searchable exception"
When trying to update a password for a user, the bundle throws an exception when it clearly should not, because I don't want this entity configured for Algolia.

I think this issue impacts all doctrine operations (creation/update/deletion) of any entity.
If this entity is not configured as an indice, then the bundle will throw this exception.

<img width="704" alt="1__app_seek-team___srv_app__ssh_

[2017-12-04 09:17] #156 closed

[2017-12-04 09:52] #149 closed

[2017-12-04 17:29] julienbourdeau commented on #148
Fixed by #153

[2017-12-04 17:29] #148 closed

[2017-12-04 17:44] julienbourdeau commented on #145
I even forgot but I added automatic prefix per env if you don't define a prefix explicitly.
https://github.com/algolia/search-bundle/blob/master/src/DependencyInjection/AlgoliaSearchExtension.php#L32-L34

I wanted to prevent overriding your prod with dev data.

[2017-12-04 17:50] julienbourdeau commented on #143
I did it this way because at the time, you could have the same entity indexed in multiple indices. Since this was removed, I agree that it would sense to ask for the index name.

Everywhere else we work with entities, so there is no easy way to get the class name from the index name.

This could be a reason to re-introduce a `indexManager->getConfiguration()`, I'm not sure.

[2017-12-04 17:50] julienbourdeau commented on #144
Fixed by #153
Thanks for investigating this!

[2017-12-04 17:50] #144 closed

[2017-12-05 09:29] tristanbes opened #158 "[3.0] Tag new version"
Hello,

You should tag a new version since `3.0.0-BETA2`is not functionning properly without #153. Before that, if you could merge #142 it should help users

[2017-12-05 09:32] tristanbes opened #159 "[3.0] Setup travis"
Is that possible to use travis to run tests and ensure they continue to pass please ?

[2017-12-05 09:49] tristanbes opened #160 "[3.0] Display the item that reached the limit (objectId is too big ... contact us)"
It would be nice to display the row that reached the limit to give us insights on what is really too big.
Not a priority though.

<img width="1030" alt="1__app_seek-team___srv_app__ssh_" src="https://user-images.githubusercontent.com/346010/33600561-e672aeea-d9a9-11e7-9a43-19a3603fadb8.png">

[2017-12-05 09:50] tristanbes commented on #160
Also, I think it could be nice to **continue** indexing the other rows and at the end, display the objectId that was in error, and why, using a table helper.

What do you think ?

[2017-12-05 10:12] tristanbes opened #161 "Packagist refers to wrong version for dev-master"
It's been 10 minutes i'm trying to find a regression but it's just that packagist didn't update the package.

Maybe you forgot to set the auto update hook ?

dev master still points to the SHA1 commit of BETA-2
see: https://packagist.org/packages/algolia/search-bundle#dev-master

[2017-12-05 10:37] julienbourdeau commented on #161
Yes packagist was not yet setup. The hook was used with the former name `algolia/algolia-search-bundle` and since we use the same GitHub repository we cannot have them both auto-updating. I switch so now, the legacy name is not auto-update but this one is.

[2017-12-05 10:37] #161 closed

[2017-12-05 10:39] julienbourdeau commented on #139
I believe I can close this one, please let me know if I missed something. :)

[2017-12-05 10:39] #139 closed

[2017-12-05 10:51] julienbourdeau opened #162 "[3.0] What if data are delete from DB but not Algolia"
When you use the `search` method, here is what happens:

1. Search in algolia for matching records
2. Use the `objectID` to create a doctrine collection (so data are pulled from the database)
3. Drop algolia's response (if you want algolia's response, use `rawSearch`)

[code]

It could happens that something was found in Algolia but was deleted from the database for some reasons. In this case, we

[2017-12-05 10:52] julienbourdeau commented on #158
3.0.0-BETA3 is out 🎉
And auto-updated on packagist ;)

[2017-12-05 10:52] #158 closed

[2017-12-05 10:56] julienbourdeau opened #163 "Allow annotation to define indices configuration"
Annotations are still very popular. I would like to add some feature like

[code]

This is inspired by what ApiPlatform does with `@ApiResources`.

**Note**: This is only about replacing the `indices` key in configuration. The bundle will always rely on the normalizers. You can use the `@Groups('searchable')` to define what attributes are indexed ([see doc about groups](https://github.com/algolia/

[2017-12-05 12:22] tristanbes commented on #162
I'm not sure I understand what you're trying to explain.

[2017-12-05 12:27] julienbourdeau opened #164 "State on MongoDB support"
Currently, if you have entities managed with MongoDB and MySQL (for instance), the data will be updated by the doctrine events and search works properly. this is because the ObjectManager is injected by the user or by the framework.

So far, only the [batch import command](https://github.com/algolia/search-bundle/blob/master/src/Command/SearchImportCommand.php#L26) `php bin/console search:import E

[2017-12-05 12:36] alcaeus commented on #164
You should check both `doctrine` and `doctrine_mongodb` services and handle them equally if they are present.

[2017-12-05 12:50] julienbourdeau commented on #164
In the following example:

[code]

How do I know on which doctrine to call `getManager()`?

[2017-12-05 12:59] alcaeus commented on #164
Both services are manager registries: you fetch the manager from the registry, then fetch the repository from that. Calling `getRepository` with only an entity name will produce invalid results when using multiple EntityManagers, even if you don't add ODM to the equation.

In short:
[code]

You can also create a registry chain that looks in a set of manager registries to return the correct manager

[2017-12-05 15:38] tristanbes opened #165 "Algolia : sort By date // Which format to use for DateTime"
I'm asking this there, because I know user will ask the same question in the future

When manipulating a date through built-in Symfony Normalizer, without any options, algolia recieves:
`"2018-03-27T01:00:48+00:00"`

But then, it's impossible to sortBy this field because it only accepts boolean or numerical.
So, **which date format I need to pass to the normalizer** to have a datetime that Algolia

[2017-12-06 09:43] julienbourdeau commented on #162
I rephrased it, I hope it's clearer.

[2017-12-06 10:30] tristanbes commented on #162
Well i'm going to vote for :
1. Add to the logs
2. Display information in the debug bar in a brand new shiny Algolia Collector
3. Ignore it

[2017-12-06 17:30] #143 closed

[2017-12-19 12:37] tristanbes commented on #165
Did you had time to check this question @julienbourdeau ?

[2017-12-20 11:29] julienbourdeau commented on #165
Great question, I should add some usecase like this in the doc! Thanks for showing the way with `DateTimeNormalizer::FORMAT_KEY`.

If you want to use the attribute for **sorting**, converting ti timestamp is a great way `DateTimeNormalizer::FORMAT_KEY => 'U'`.

If you want to use the date in your **custom ranking**, it's recommended to create ties and have another metric after that. In general, an

[2017-12-22 14:24] rayrutjes opened #174 "[3.0] services.xml missing id attribute"
![image](https://user-images.githubusercontent.com/5570853/34301252-2155799a-e72c-11e7-8bc6-17fc39776f88.png)

[2017-12-22 14:25] rayrutjes opened #175 "[3.0] be resilient to Doctrine not being there"
![image](https://user-images.githubusercontent.com/5570853/34301310-5a61a308-e72c-11e7-9c78-71f934fe6bc8.png)

[2017-12-22 14:26] rayrutjes commented on #174
![image](https://user-images.githubusercontent.com/5570853/34301329-6b32f218-e72c-11e7-9592-1726355d4769.png)
This is the one not having an id.

[2017-12-22 14:46] rayrutjes opened #176 "[3.0] put tests in src/Tests"
Following Bundle recommendations here: https://symfony.com/doc/current/bundles.html#bundle-directory-structure

[2017-12-22 14:48] rayrutjes opened #177 "[3.0] add symfony version to user agent"

[2017-12-22 15:21] rayrutjes opened #178 "[3.0] better configuration management"
It would be nice to offer a `config/packages/algolia_search.yml` file by default to set the Algolia Credentials.

We could even create one in `config/packages/dev/algolia_search.yml` that adds a prefix of `dev_`.

[2017-12-22 15:41] rayrutjes commented on #174
Fixed in cb20cf4 indeed, thanks!

[2017-12-22 15:41] #174 closed

[2017-12-22 18:30] nmeirik commented on #137
Not supporting 3.4 poses a problem, upgrade-wise, since upgrading an older installation to Symfony 4.x requires going via 3.4 in order to sort out the deprecations.

Installing the current 3.x BETA (3.0.0-BETA3) on Symfony 3.4 does not appear to work.

[2017-12-23 15:23] tristanbes opened #180 "[3.0] Can't delete an entity: bundle crash the application"
Hello,

The bundle (`3.0.0-BETA3` or `dev-master` ) is throwing an error when trying to remove an entity:
`Warning: urlencode() expects parameter 1 to be string, array given`

<img width="1038" alt="warning__urlencode___expects_parameter_1_to_be_string__array_given__500_internal_server_error_" src="https://user-images.githubusercontent.com/346010/34320565-8b13ae70-e7fd-11e7-907f-463a3a967375.png">

[2017-12-26 17:35] #180 closed

[2017-12-26 21:36] tristanbes opened #183 "[3.0] Indexing by name of indice is ignored and index all indices."
Was wondering why it took a long time for my 3k objects. It's because it's ignoring the name of index to index, and it indexes all objects...

`bin/console search:import multigaming`

[code]

<img width="680" alt="1__ _symfony_console _search_import_multigaming__ssh_" src="https://user-images.githubusercontent.com/346010/34365132-2fb07fa8-ea8d-11e7-840b-fc87394ffebc.png">

[2017-12-26 21:42] tristanbes commented on #165
Well **custom ranking** accepts only integer or boolean and not a string. So formating a date like `Y-m-d` won't work.

I guess i'm gonna go with `$object->getUpdatedAt()->getTimestamp()`

[2017-12-27 07:32] julienbourdeau commented on #165
Indeed! Then you can remove the `-` and cast it to make sure it's an _int_.

[2017-12-27 12:46] julienbourdeau commented on #183
Sorry I changed the command signature so all commands are similar, I think I forgot to do it through a pull request. Sorry!

You can find the commit here: https://github.com/algolia/search-bundle/commit/87f7b96871ec8632cbd799ed06088656deadef3e

The command should now be
[code]

[2017-12-28 00:59] tristanbes commented on #183
Thanks. You should add an example of this command in the readme.

[2017-12-28 00:59] #183 closed

[2017-12-28 08:21] julienbourdeau commented on #183
I'm looking to move the doc to algolia.com/doc to leverage our documentation resources. I updated the README until it's finished.

[2017-12-29 11:45] JacobDelcroix opened #185 "How to inject search.index_manager in constructor (when it's not in container)"
Hi,

Can't make this bundle works on Symfony 4. Do you have any idea? It should works with Symfony 3.4 and higher according to the documentation.
When trying to fetch the search.index_manager from container (or inject it with autowire) I always have an error.

I'm using 3.0.0-BETA4 rev.

[2017-12-29 12:41] julienbourdeau commented on #185
What error do you have? Can you share the code snippet as well please, I'd be happy to help.

[2017-12-29 13:07] JacobDelcroix commented on #185
Thanks for your response @julienbourdeau .

Here is my composer.json:
` "algolia/search-bundle": "^3.0@beta",`

Then when I try to fetch index_manager in my controller
`$this->get('search.index_manager');`

I got

I know in SF4 you can inject services within your controller params, so I my __contruct method I try:
[code]

But i got:

[2017-12-29 15:10] julienbourdeau commented on #185
Can you try to declaire this in your `services.yml` (and keep injecting it in the constructor):

[code]

Is there anyway you could give me access to the source? I cannot reproduce it with the `symfony/demo` project. Apparantly Sf4 has a lighter container, it's not a best practice to get everything from it anymore, it should be injected (like you did).

[2017-12-30 14:32] JacobDelcroix commented on #185
Thanks for your help. Error is gone but I can't test if everything is working as expected (I'm out of office). I will give it a try thuesday :-)

[2018-01-01 14:03] romainnorberg commented on #185
hello @JacobDelcroix @julienbourdeau it's work for me (3.0.0-BETA4).
- declare in `services.yaml`
- injecting it in the constructor
👍

[2018-01-05 10:59] julienbourdeau commented on #185
I will declare the alias in the bundle #186

It shouldn't break anything if you declare it in your services.yaml but feel free to test it and comment.

[2018-01-05 12:06] #185 closed

[2018-01-05 15:53] julienbourdeau commented on #137
@nmeirik I'll check again but 3.x should definitely be compatible with Symfony 3.4 👌 Don't hesitate to open issues with bugs or feedbacks.

[2018-01-08 11:03] julienbourdeau commented on #178
Having a default file with prefix is a good idea. It would encourage people to change it.

About credentials, you can't store them here, because this file is committed.

[2018-01-08 11:04] tristanbes commented on #178
Just don't forget 3.4 user that don't follow 4.0 architecture please :-)

[2018-01-08 11:10] julienbourdeau commented on #163
This is done, we rely on _groups_ from the serializer bundle for that: see #153

-----

### Using normalizer groups

You can also rely on (`@Group` annotation)[https://symfony.com/doc/current/components/serializer.html].
The name of the group is `searchable`.

You have to explicitly enable this feature on your configuration:

[code]

In the example below, `$comment`, `$author` and `$createdAt` dat

[2018-01-08 11:10] #163 closed

[2018-01-08 11:12] julienbourdeau commented on #137
@nmeirik Can you open issues and show what issue you encounter? I tried `3.4` and it seems to work as expected.

[2018-01-08 19:06] nmeirik commented on #137
@julienbourdeau I'm sorry for not making sufficient notes with regards to what I deemed not to work.

My time does not currently allow time for a new upgrade attempt, so please disregard my comment. Should I encounter issues when upgrading again, I will specify those (properly) in a separate issue.

[2018-01-09 10:54] julienbourdeau commented on #175
I looked into it but actually Doctrine should be an requirement for the bundle, I'll move it from `require-dev` to `require`.
It's needed for indexing commands and search, not only for the event subscriber.

Thanks Ray for spotting it.

[2018-01-09 11:17] julienbourdeau commented on #177
Indeed! I added it to the PR #191.
Thanks :)

[2018-01-09 18:02] #177 closed

[2018-01-10 09:38] #175 closed

[2018-01-10 10:49] julienbourdeau commented on #159
Note that it also runs community pull request, due to our new API key management

https://github.com/algolia/search-bundle/pull/184

[2018-01-10 10:49] #159 closed

[2018-01-10 10:53] julienbourdeau commented on #136
Hi @florentdestremau,

I'm releasing v3.0 of this bundle (very soon, [doc is already live](https://www.algolia.com/doc/api-client/symfony/getting-started/)) where I used Interface as much as possible. I hope you get to do everything you need, otherwise, just let me know.

Note that v3 is compatible with Symfony 3.4 and 4.0. I'll release also a last version of 2.x but it won't have radical change l

[2018-01-10 10:53] #136 closed

[2018-01-10 10:59] julienbourdeau commented on #154
Indeed, I think I found a good solution that keeps the bundle agnostic. I opend the PR #195, feel free to try it and provide feedback.

[2018-01-10 14:35] #154 closed

[2018-01-10 15:38] florentdestremau commented on #136
hi !
Nice to know ! I'll try it out (but we kinda stopped using algolia for others reasons ^^' )

[2018-01-10 16:14] julienbourdeau commented on #176
Thanks for pointing it out!
I thought about it a lot. In the end, I'd rather not change the bundle structure. I found some very popular bundle ([here](https://github.com/FriendsOfSymfony/FOSElasticaBundle), [here](https://github.com/sonata-project/SonataAdminBundle), [here](https://github.com/KnpLabs/KnpMenuBundle) <-- even Stof 😁) that don't follow this structure so I think I'll keep it like this

[2018-01-10 16:14] #176 closed

[2018-01-11 08:35] JacobDelcroix opened #197 "[3.0] Pagination problem"
Hi guys,

I'm having a problem when trying to implements a pagination system for my videos list.
First, I do a empty search to get all my videos (first 20)

[code]

As you can see I have 7000+ videos, so my pagination goes to 350+ pages.
But when trying to access page 51 and more I have this error:

Do you have any idea to solve this issue? I understand that Algolia can't give me more than 1000+ r

[2018-01-11 08:57] tristanbes commented on #197
Hello,

you can import your settings from algolia, using the appropriate commmand from the bundle `php bin/console search:settings:backup`.
Then, go in the imported settings `xxx.json` and change the line:

`"paginationLimitedTo": 1000,` to the value you want, but you have to take care, it has a negative impact on performance.

More on this on the algolia documentation: https://www.algolia.com/doc

[2018-01-11 09:03] JacobDelcroix commented on #197
Thanks for your reply,

So this is not a bug? Because like I said I only want to retrieve 20 items per page so Algolia don't need to return me more than 20 items... I juste want to paginate them.

That's strange that a search engine don't provide this kind a feature without losing performance...

[2018-01-11 11:04] tristanbes opened #199 "[3.0] Failure after installation due to variable not found"
Hello,

Is it intended to fail right after installation ? Shouldn't we provide those keys in an interactive way ?

[2018-01-11 11:07] tristanbes commented on #199
![1__app_eqiom___srv_app__ssh_](https://user-images.githubusercontent.com/346010/34822673-fd9e1be6-f6c7-11e7-806b-f4ce136ae941.png)

[2018-01-11 11:10] julienbourdeau commented on #197
Indeed Algolia is limited to 1000 results for pagination and can be changed via settings. Although, it's generally not recommended to change it since it has performance impact.

If you need to loop through all results (like to export them), I'd recommend you to use [`browse`](https://www.algolia.com/doc/api-reference/api-methods/browse/).

If you're displaying results on your site, I'd recommend t

[2018-01-12 15:29] julienbourdeau commented on #199
I'd rather leave that [in the flex recipe](https://github.com/symfony/recipes-contrib/pull/244/files#diff-fdf6a12ea5b80e434253f55d6fd6ffdaR11) but I agree this is not a great experience, I'll see how I can handle it nicely.

[2018-01-17 14:15] julienbourdeau commented on #197
@JacobDelcroix Please let me know if you need further details, I'll reopen this PR.

[2018-01-17 14:15] #197 closed

[2018-02-03 20:18] hhmmrrhh commented on #164
Discuss

[2018-02-03 20:19] hhmmrrhh commented on #160
Open

[2018-02-03 20:20] hhmmrrhh commented on #165
v3

[2018-02-03 20:21] hhmmrrhh commented on #165
#165

[2018-02-05 00:01] aequasi commented on #137
The biggest issue i've seen is the lack of the `IndexIf` annotation.

[2018-02-05 18:02] pengend opened #201 "Several entity for an index"
As the title says, I need to push different entities for the same index, it's impossible with the current configuration (and I had to override the default `IndexManager`) , I can do a pull request if this don't have a problem with Algolia logics.

[2018-02-06 09:57] julienbourdeau commented on #201
I'd be happy to see your implementation and review your PR.
The main issue I found was how to know which entity is each object.

[2018-02-06 09:58] julienbourdeau commented on #137
Yes, I'll think about a way to add that. Do you mind opening a separate issue for it?

[2018-02-06 16:38] aequasi commented on #201
A Discriminator annotation like doctrine would work, but that would be fairly coupled

[2018-02-06 16:40] aequasi opened #202 "Conditionally index entities"
It would be nice to be able to conditionally index entities based on specific criteria (like a field returning true or false) like the only lib allowed for.

[2018-02-06 16:40] aequasi commented on #202
The `search:import` command should also de-import any entities that are marked against indexing

[2018-02-06 16:41] aequasi commented on #137
Finished. Feel free to close this if you want.

[2018-02-07 07:02] #137 closed

[2018-02-07 09:57] pengend commented on #201
@julienbourdeau

What the "object" means ? My thought was to make the `indices` take array of entity or single entity.

@aequasi you mean like in v1 ?

[2018-02-07 13:24] pengend commented on #201
Or just disable `useAttributeAsKey` on `name`, and configure multiple entity for the same index in config, something like :
[code]
It's quite easy to integrate that in `IndexManager`.

[2018-02-07 16:01] julienbourdeau commented on #201
While developing the v3, I started with something like
[code]

If you use `rawSearch` it's fine, but if you use search, we recreate entities from the database, it's based on the ID you retrieved from Algolia: https://github.com/algolia/search-bundle/blob/master/src/IndexManager.php#L131-L139

If you want want to use different entities (what I called object earlier, I meant "entity class objects")

[2018-02-07 17:05] pengend commented on #201
Yea, when I tried this afternoon, with `rawSearch`, it's fine (even if the parameter `$className` is not great in this case), and I ran into errors with `search`, because it return an array of ids of different tables (as you said, this does not work with the current system with only one `$className` in parameters).

I think an additional prefix mapper in configuration can differentiate entities in

[2018-03-01 12:39] brunonic opened #206 "Allowed memory size exhausted during search:import"
I'm trying to `search:import` my products (37 000) and I got this error :

    php bin/console search:import --indices=product

    PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 12288 bytes) in .../vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/ArrayType.php on line 58
    Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 12288 b

[2018-03-01 12:44] brunonic opened #207 "search:settings:backup and Symfony4 directory structure"
I'm trying to backup my settings with `search:settings:backup`. Import is ok but in a `app\Resourses` folder. In Symfony4 there is no more app folder.

[2018-03-01 13:38] julienbourdeau commented on #206
Yes but it's definitely a big, this should be paginated to avoid this. Thank you for creating this issue, I'll take care of it ASAP!

[2018-03-01 13:43] julienbourdeau commented on #207
With Symfony 4 it should be backed up un `/config/settings/algolia_search/`

Is it a Sf 3 app upgrade to Sf4 or is a fresh install? Do you get an error message (if so, please add a screenshot).

Thanks for reporting this issue!

[2018-03-01 14:12] brunonic commented on #207
Oh sorry for this project I'm on a 3.4.4 with a Symfony 4 Flex Directory Structure

[2018-03-01 14:16] julienbourdeau commented on #207
Oh yeah I see.
I'm not sure how to handle this. Should we _detect_ the directory structure, regardless of the Sf version or is there a better way?

Today I was sort of hoping that project started with Flex will be using Sf4 ^^
https://github.com/algolia/search-bundle/blob/master/src/DependencyInjection/AlgoliaSearchExtension.php#L37

[2018-03-01 18:28] brunonic commented on #207
I have upgrade my project to Sf4, now it work fine. The Sf3.4 install come with a flex1.0 .
Flex is available from Sf3.3.

[2018-03-02 07:44] brunonic commented on #206
There is no replacement for algolia:reindex ? I have never had a problem with.

[2018-03-02 17:39] julienbourdeau commented on #206
Do you mean clear and reimport in one command?

Would you mind testing this PR #208 and let me know if that fix your issue?
I added a config key `batchSize` with a default of 500. Feel free to test smaller values if necessary.

Thanks!

[2018-03-05 07:39] brunonic commented on #206
This PR fix my issue.

Thanks!

[2018-03-06 09:56] julienbourdeau commented on #178
The default configuration is now handled by Symfony Flex, so I believe this issue can be closed.
https://github.com/symfony/recipes-contrib/pull/244/files

[2018-03-06 09:56] #178 closed

[2018-03-06 11:25] julienbourdeau commented on #202
Hi @aequasi,

I opened this PR #210  to add the index_if feature. I'd really appreciate if you could review it.

The main question I had, was either this check should be in `IndexManager->index()` or higher, in the import command.

[2018-03-06 15:10] brunonic opened #211 "What about `facets` and `facets_stats` in the v3 ?"
When I was using an older version, the raw search return a SearchResult object with `facets` and `facets_stats` values, why they are no more returned in the array in the current version v3 ?
It was usefull to create filters.

[2018-03-06 15:29] julienbourdeau commented on #211
Hi @brunonic,

`facets` are not retrieved by default in Algolia but you can pass any searchParameters to the `rawSearch` method. If you want to retrieve all facets, you can do:

[code]
or select the facets you want

[code]

Please let me know what you think.

[2018-03-06 15:57] julienbourdeau commented on #211
You're right, I opened a pull request on our doc to add an example under https://www.algolia.com/doc/api-client/symfony/search/?language=symfony#advanced-search
This should be deployed soon.
Thanks for your feedback!

[2018-03-10 16:20] arteniioleg opened #213 "Declarative way to make Entity.published property affect index"
Is there any way to achieve this without extending the engine?

[code]

[2018-03-10 21:24] tristanbes commented on #213
It will be possible once https://github.com/algolia/search-bundle/pull/210 is merged

[2018-03-11 08:29] #213 closed

[2018-03-14 10:27] julienbourdeau opened #214 "Support Message component when released"
When/If this is merged https://github.com/symfony/symfony/pull/24411 the bundle should support it.

[2018-03-14 10:28] tristanbes commented on #214
What do you have in mind by "support it" ?

[2018-03-14 10:37] julienbourdeau commented on #214
Not sure yet but something like, turn the feature on, all call to algolia are added to a queue.
Sort of like [Laravel Scout does it](https://laravel.com/docs/5.6/scout#queueing).

[2018-03-14 13:36] #207 closed

[2018-03-14 13:38] #206 closed

[2018-03-15 14:16] #202 closed

[2018-03-16 13:26] psren opened #216 "Using Normalizer in Normalizer"
I have the following error:

[code]

I'm trying to to this in my ```NewsEntryNormalizer```

[code]

I tried two ways. In my FileNormalizer I tried to Inject ```SerializerInterface```.
The result was a circular reference.

[code]

When implementing ```SerializerAwareInterface``` I get the error:

[code]

Do you have any hints for me?

[2018-03-16 13:35] julienbourdeau commented on #216
Thanks for the details in the issue. Would you mind sharing your News entity and the entire `NewsEntryNormalizer`? I'll dig into it.

[2018-03-16 14:20] psren commented on #216
Ah, I solved it by myself.
I injected the ```FileNormalizer``` directly to the ```NewsEntryNormalizer```.
Since I know the format already, this is no problem at all.

Thanks for helping me out 👍

[2018-03-16 14:20] #216 closed

[2018-03-18 16:06] arteniioleg opened #217 "Add required php extensions in composer.json"
[Like here](https://github.com/algolia/algoliasearch-client-php/blob/e2afbf8863b5a5bd3d9fba3c008e625f7430bde7/composer.json#L23)

On `composer install` on my production machine I got

[code]

[2018-03-19 08:35] julienbourdeau commented on #216
I didn't help much but I'm glad you solved it 😄

[2018-03-19 10:42] julienbourdeau commented on #217
Hi @arteniioleg,
Thanks for filing this bug. I think it should be added to the client, since this is where it's required. I'm not sure why it wasn't added before. I'll have a look.

https://github.com/algolia/algoliasearch-client-php/blob/master/composer.json#L23

[2018-03-22 08:04] JosephELKHOURY opened #222 "Application is crashing if Algolia's number of operations is exceeded"
Hello,

Whenever we exceed the number of operations, the symfony application starts crashing when we use the endpoints related to the entity that is indexed in Algolia.

I couldn't find any way to fix this. How can we prevent it?

At least you should ignore indexing when number of operations is exceeded.
What do you think?

[2018-03-22 09:30] julienbourdeau commented on #222
I think the algolia client will raise an exception if you reach the quota but I'm not sure who should be catching it. If it's the bundle reponsability, what behavior do we want? We could log the error in prod env and fail on dev env.
Is that what you had in mind?

[2018-03-22 10:52] JosephELKHOURY commented on #222
That would be good because we're having the crash on the prod website and it's really disturbing.
And I guess you can also do the same on dev. What do you think?

[2018-03-22 10:58] julienbourdeau commented on #222
Do you mean logging in dev too instead of crashing? In dev env, I like when it crashes because I think it's the best way to avoid issue in prod. I'm affraid to many people won't read the logs in dev.

[2018-03-22 11:04] JosephELKHOURY commented on #222
You have a point (Y)

[2018-03-23 06:43] OskarStark commented on #122
A `NullEngine` is available right now, isn't it?

[2018-03-26 14:39] Simperfit opened #223 "[RFC] Add symfony 4.x to Algolia/search-bundle 2.x"
We would like to update to symfony 4.x without upgrading to Algolia/search-bundle to 3.x since we decorated the commands to add our own feature.

Could it be possible to accept a PR adding the support of Symfony 4.x to algolia/search-bundle 2.x ?

Thanks.

[2018-03-27 09:28] #102 closed

[2018-03-28 03:27] aequasi commented on #201
So, the opposite of this is not currently possible i think.

@julienbourdeau do you know how i could have different indecies based on a field in the entity?

EG

[code]

[2018-03-28 06:50] silasjoisten opened #224 "Using Algolia with JMS serializer"
Algolia version
[code]
Symfony version
[code]
PHP 7.1.15

### Description
I try to integrate Algolia in my sonata project. The problem is that algolia-bundle uses symfony default serializer and sonata uses JMS Serializer. How i can change from default Serializer to JMS serializer?

[2018-03-28 08:00] julienbourdeau commented on #201
I would expect your snippet to do what you're looking for. What else would you need?

[2018-03-28 08:05] julienbourdeau commented on #223
I understand why it's more work for you to upgrade could you share what your commands are doing and if there is anything we could add to the bundle?

I'm afraid that if the version 2.x supports Sf4, we'll to keep supporting 2.x (pretty much) forever.

Just to be sure, appart from the decorated command, is there anything else that prevent you from upgrading?

[2018-03-28 08:19] julienbourdeau commented on #199
I cannot reproduce this issue with Flex. I'm also hoping #218 fixed it if you don't use Flex.

[2018-03-28 08:19] #199 closed

[2018-03-28 08:28] julienbourdeau commented on #217
I'll close this issue and we can discuss it on algolia/algoliasearch-client-php#384. Thanks @OskarStark for opening the PR. 👌

[2018-03-28 08:28] #217 closed

[2018-03-28 08:56] julienbourdeau commented on #224
Hm very good question! I'll look into it, I think it should be doable 👍

[2018-03-28 15:10] aequasi commented on #201
The snippet only indexes servers to a single index, because the classtoIndexMapping only allows for a single class => index

[2018-03-28 15:22] julienbourdeau commented on #201
Could you share how you want to use this?

This should be doable with search parameters instead. In your server index, records would have a `isFeatured` and `hasSubscription` attribute, then you can search this way:

[code]

[2018-03-28 18:53] aequasi commented on #201
yeah, i could go that route too, was just interested in separating out the indexes for organizational purposes

[2018-03-30 08:20] pengend commented on #201
I think the way to map a single class to an index is too restrictive. I can make a try to allow several classes per index, but I am a bit afraid about the impact of this to the current system.

[2018-04-10 09:38] gabhwc opened #226 "Add search:clear command usage example in documentation"
- Symfony version: 4.0.4
- Algolia Search Bundle version: 3.1.1
- Algolia Client Version: 1.23.0
- Language Version: 7.1

### Description

There is currently no mention of `search:clear` command in README.md. A quick usage guide could be added either:
- in the "3. Indexing" section
- in the "7. Advanced" section
- in a new "7. Deindexing" section

Discovered it while trying to implement the featur

[2018-04-10 15:44] julienbourdeau commented on #226
Thanks! :)

There is no reason to not mention this command, I don't know how I missed it  ^^ I will add it right away.

Today the repository with the doc is private, I hope one day we can open it but I don't think it will be soon.

[2018-04-17 17:18] lemonlab opened #227 "Group feature (annotations) are not working when deleting an entity"
- Symfony version: 3.4.4
- Algolia Search Bundle version: 3.1.1
- Language Version: PHP 7.1.13

### Description
The annotations `@Groups({"searchable"})` are not taken into account when deleting an entity.

### Steps To Reproduce
- Create 2 entities `A` and `B`
- Create a circular reference between `A` and `B` (2 way relationship)
- Index one field in the entity `A` that is not part of the circula

[2018-04-23 08:38] sylvain-h opened #229 "Prefix per environment not taken into account"
Hello,

The bundle doesn't seem to use the prefix per environment setup when searching in an index (the env prefix does not show up).

I'm gathering more details on behalf on the developer but is there any chance it is the same as issue https://github.com/algolia/search-bundle/issues/92 (or directly linked to it)?

Thanks

[2018-04-23 16:47] Cevantime commented on #227
Same problem here !

[2018-04-26 09:56] julienbourdeau commented on #229
I understand that this is related to the v2. The doc is now only availbale in the README of the `2.x` branch. Can you confirm that `@Algolia\Index(perEnvironment=true)` is set as stated here: https://github.com/algolia/search-bundle/tree/2.x#per-environment-indexing

[2018-04-26 09:57] #227 closed

[2018-04-26 14:36] julienbourdeau commented on #226
It was merged today, it be live next time the doc is deployed.

[2018-04-26 14:36] #226 closed

[2018-04-30 15:16] tristanbes opened #232 "Undefined index index_if"
- Symfony version: 3.4
- Algolia Search Bundle version: 3.1.2

### Description

Hello,

Running commands gives a warning in the search-bundle index_manager.

[code]

[2018-05-01 17:05] arteniioleg commented on #227
Thanks. This fixed circular reference for me too. On entity form update I have a `CollectionType` field to edit `OneToMany` relation.

[2018-05-03 12:57] qdequippe opened #234 "Invalid argument supplied for foreach() using NullEngine"
- Symfony version: 3.4.9
- Algolia Search Bundle version: 3.1.2
- Algolia Client Version:
- Language Version:

### Description
When using NullEngine I have Warning: Invalid argument supplied for foreach() in IndexManager L246

### Steps To Reproduce

1. Use NullEngine as described here https://github.com/algolia/search-bundle#about-the-nullengine
2. Try to index

### Actual result
Warning: Invalid

[2018-05-03 16:44] #229 closed

[2018-05-05 10:33] janjango commented on #224
I have the same problem:
 `Argument 1 passed to Algolia\SearchBundle\IndexManager::__construct() must implement interface Symfony\Component\Serializer\Normalizer\NormalizerInterface, instance of JMS\Serializer\Serializer given`

I'm using:

[code]

[2018-05-14 12:27] julienbourdeau commented on #224
@janjango Have you tried the PR #225? Did it fix your issue?

[2018-05-14 12:32] #234 closed

[2018-05-14 15:36] #165 closed

[2018-05-16 17:45] #224 closed

[2018-06-05 11:05] proArtex opened #239 "Downgrade bundle's abstraction level"
- Symfony version: 4
- Algolia Search Bundle version: 3.1.2
- Algolia Client Version: 1.25.1
- Language Version: ru

### Description
Bundle has too high abstraction level by deciding which index to use with search or index ops. Any entity may be placed in different indexes (e.g. different order). Same problem taking place in discriminated doctrine entities, that could be indexed separately or all

[2018-06-14 08:07] julienbourdeau commented on #239
Hi @proArtex, thanks for your feedback.
I would definitely like to add the possibility to index multiple entities to one index and send one entity to multiple index. I currenlty haven't found a good way to do so but I'm definitely open to any idea.

Could you share more details to what you have in mind about

I think it's doable with the current version, I'd like to give it a go.

[2018-06-20 19:28] aequasi opened #241 "Rewrite subscriber to Listener, and add lazy"
Due to how doctrine is written, in order for doctrine to see what events are subscribed to, the class needs to be instantiated. The Subscriber defined in this library depends on the client, which depends on the ClientContext. This ends up requiring that ALGOLIA_APP_ID and ALGOLIA_API_KEY are defined and correct in any and all environments, where they may not be necessary.

My specific use case is

[2018-06-26 18:28] julienbourdeau commented on #241
I will try it! I agree it should be lazy, this env variable errors is pretty annoying :D
Thanks for opening this issue.

[2018-07-07 08:39] greg0ire opened #243 "Allow specifying the doctrine connection"
- Symfony version: 4.1
- Algolia Search Bundle version: 3.2.0
- Algolia Client Version: irrelevant
- Language Version: php

### Description

Right now, the `default` Doctrine connection is hardcoded in some service definitions:

https://github.com/algolia/search-bundle/blob/1b9550f9194fe9d2dc2409f1396737f20ae4b97b/src/Resources/config/services.xml#L14-L15

Alas, my company has this policy that con

[2018-08-17 20:38] kiler129 opened #247 "Automatic Dates Conversion"
- Symfony version: 4.1.3
- Algolia Search Bundle version: 3.2.0
- Algolia Client Version:
- Language Version: 7.2.8

### Description
Algolia [does not support date search](https://www.algolia.com/doc/tutorials/full-text-search/filtering-faceting/android/#filter-by-date) and requires [manual conversion to timestamps](https://www.algolia.com/doc/guides/searching/filtering/#filter-by-date).

What if

[2018-08-20 11:49] julienbourdeau commented on #247
Hi @kiler129,
I wouldn't mind adding more normalizer to the bundle, but it's not easy to make one that always does what you want.

Timestamp is actually not the only way to filter with Algolia. You can format the date in very different ways with Algolia. Timestamp is good but you want to show resulsts for one month, or one week, you could have

[code]

Then you can filter with `filters: date.month

[2018-08-20 11:57] julienbourdeau commented on #241
So I looked at it back then, and this error message wasn't triggered because of the console but because of these 2 lines (or maybe both but making the command lazy didnt solve the issue):
https://github.com/algolia/search-bundle/blob/master/src/Resources/config/services.xml#L19-L20

[2018-08-21 15:56] aequasi commented on #241
@weaverryan any input?

[2018-08-21 16:46] ogizanagi commented on #241
Actually [I think the `algolia_client` service itself should be lazy](https://github.com/algolia/search-bundle/pull/218#issuecomment-375605027), not the doctrine listeners, as just using the entity manager somewhere will trigger the listeners and client instantiation. https://github.com/symfony/symfony/pull/27675 might solve this, but only in symfony 4.2.
By making the client lazy, any service in

[2018-08-23 10:18] julienbourdeau commented on #243
I opened #248. I removed the connection attribute and as far as I tested, it seems to be working. Would you mind giving it a try?
Thanks!

[2018-08-23 13:29] greg0ire commented on #243
Not at all, I'll try rightaway!

[2018-08-23 13:56] greg0ire commented on #243
I no longer have the error message, so that's a great step forward. I have a new problem though: I recently added an Algolia app to this application because we need to have several clusters, and that means several apps. I won't be able to use this bundle anytime soon I'm afraid… anyway, good job!

[2018-08-23 14:29] julienbourdeau commented on #243
Did you integrate Algolia all by yourself or did you use another bundle/lib?

Could you share a bit more about what you did and why you needed multiple apps? If you don't want to share it publicly, feel free to email me at julien.bourdeau@algolia.com.

[2018-08-23 14:58] julienbourdeau commented on #241
@ogizanagi I'd love to make the client lazy, but I'm starting to think that the easiest way would just be to remove the credentials from the service.xml, maybe even define the `algolia_client` service in the AlgoliaSearchExtension class :/

I also need to keep compatibility with Symfony 3.4.

[2018-08-23 14:59] julienbourdeau commented on #241
I made this PR as a POC: https://github.com/algolia/search-bundle/pull/249

Any thoughts are welcome!

[2018-08-23 16:27] weaverryan commented on #241
In Symfony 3.4 you could pass the listener a service locator that has the client inside. That would allow the event listener to be instantiated without instantiating the client. That’s how you can make a service lazily instantiated without using the lazy key on the service, which, yea, requires another lib :)

[2018-08-23 21:12] ogizanagi commented on #241
Sure. It feels weird from a design POV, so that's why I suggested having a proxy instead, but that's the only viable solution to me not requiring the user to install another dependency.
That also means users should think were is injected the client, as it can still cause troubles on userland (in a CLI command for instance, remember https://github.com/algolia/search-bundle/pull/218#issuecomment-375

[2018-08-23 22:14] greg0ire commented on #243
I arrived on the project, and we are only using the php lib. We need multiple apps because we manage several countries 5, and that can't reasonably fit in one cluster (at least that's what I heard).
I'm at home now, might share more details about what we did, but basically we have a bunch of service locators that allow us to do things like `$productIndexes->get('FR')` and get the proper index. See

[2018-08-27 13:26] julienbourdeau commented on #247
I'm closing this issue but feel free to comment and tell me what you think, I'll reopen it if necessary 👍

[2018-08-27 13:26] #247 closed

[2018-08-27 14:00] julienbourdeau commented on #222
I have discussed this with the team, I the error message from Algolia are not part of the public API so they can change without prior notice. Parsing the error message to throw a certain type of error message is then error prone. The HTTP error code is much more stable but the one for quota issues is used for all type of similar error (rate limit for instance).

In the end, I believe the best way

[2018-08-27 14:00] #222 closed

[2018-08-28 08:43] #241 closed

[2018-08-28 15:28] kiler129 opened #253 "AlgoliaEngine Serialized Entities Twice"
- Symfony version: 4.1.3
- Algolia Search Bundle version: `master`
- Algolia Client Version: ?
- Language Version: 7.2.9

### Description
While writing my own engine implementation (to log arrays on `dev` for debugging) I looked into source implementation:

https://github.com/algolia/search-bundle/blob/af07217884658d088e50e815c79bf0c0bf9a9af7/src/Engine/AlgoliaEngine.php#L91-L101

This seems rathe

[2018-08-29 07:05] julienbourdeau commented on #122
So in the end, with v3, it's recommended to use the `NullEngine` (you can also create your own engine if you need something different.

With v2, you can install `2.3.0-beta` and use the `disable` option in #57.

[2018-08-29 07:05] #122 closed

[2018-08-29 07:08] julienbourdeau commented on #223
@Simperfit I'm really not keen to keep maintaining the v2 today. In the past few months I wasn't able to work on it as much as I wanted to. I don't think it's a good idea.

Could you tell me what you did with v2 and what you need to be able to migrate?

[2018-08-29 08:15] Simperfit commented on #223
We, at the end, updated and refactored the commands ^^. So This is not an issue anymore.

[2018-08-29 08:15] #223 closed

[2018-09-04 08:46] julienbourdeau commented on #253
Hi @kiler129
You're right, I'll fix it today 👍 Thanks for taking the time to report it.

[2018-09-04 11:47] #253 closed

[2018-09-12 18:42] nmeirik opened #259 "Count does not appear to take parameters into account"
- Symfony version: 4.1.1
- Algolia Search Bundle version: 3.2.0
- Algolia Client Version: 1.27.0
- Language Version: ??

### Description
`$parameters` are not taken into account when passed to the `count()` method of the IndexManagager. As a result, the count returned is incorrect.

### Steps To Reproduce
[code]

`Algolia\SearchBundle\IndexManager::count` accepts `$parameters` as its third paramet

[2018-09-13 07:50] julienbourdeau commented on #259
Hi @nmeirik,
Thanks for reporting this issue, indeed the parameter is not passed to the Engine and because the interface doesn't define it, it would be a breaking change to add it.

I came up with this fix temporarily, until we release a next major version. Would you mind trying this PR? https://github.com/algolia/search-bundle/pull/260

[2018-09-13 08:46] nmeirik commented on #259
Hi @julienbourdeau,

Thanks for addressing this so quickly.

How would I go about doing that? And what specifically are you looking for me to test?

[2018-09-13 12:43] julienbourdeau commented on #259
When I test a PR, when it's small enough, I'd just copy/paste the modification in the `vendor` directory.

In this case, I don't think you need to test it, it's pretty obvious. I'll release it, you can update your dependency and if you still have issues, please keep us posted.

[2018-09-13 12:43] #259 closed

[2018-09-25 20:50] kiler129 opened #261 "[Bug] Entity::getId() Should Be Serialized via Serializer"
- Symfony version: v4.1.x
- Algolia Search Bundle version:
- Algolia Client Version: 3.3.1
- Language Version: 7.2

### Description
The bundle makes half-assumption about entities identifiers, assuming they are strings (and in the worst case scenario types directly castable to strings).

The offending part of the code exists in `AlgoliaEngine::doUpdate()` method:
https://github.com/algolia/search-

[2018-09-25 23:51] emulienfou opened #262 "Bad Symfony Flex recipe installed"
- Symfony version: **4.1.4**
- Algolia Search Bundle version: **3.3.2**
- Algolia Client Version: **1.27.0**

### Description
Bad recipe installed.

### Steps To Reproduce
1. Update the `composer.json` file manually, add:
[code]
2. Execute the next command:
[code]
### Output
[code]

[2018-09-26 08:46] nunomaduro commented on #261
@kiler129 Thanks for reporting this issue! 👍

Since you already have a proposal, can you **work on a Pull Request**? If you want I can later add tests into it.

[2018-09-26 08:59] nunomaduro commented on #262
@emulienfou Hey 👋

After checking the [documentation of symfony recipes]([github.com/symfony/recipes#creating-recipes](https://github.com/symfony/recipes#creating-recipes)):  _"They must follow the vendor/package/version/ directory structure, where version is the minimum version supported by the recipe."_

@julienbourdeau You have more experience them me on Symfony Applications, what do you think?

[2018-09-26 09:58] julienbourdeau commented on #262
@emulienfou I think the issue is that you required `algolia/algolia-search-bundle`. When I release the 3.0 version I renamed the package to `algolia/search-bundle`.

If you look at the recipes, there is nothing for algolia-search-bundle > 3.0
https://github.com/symfony/recipes-contrib/tree/master/algolia

Thanks a lot for reporting this, I will see if I can add a symlink `algolia-search-bundle/3.0

[2018-09-26 12:30] kiler129 commented on #261
Sure, I will be happy to submit a PR.

I usually do TDD, so tests will be included ;)

[2018-09-26 13:15] emulienfou commented on #262
Hello guys,
first off, this is a little confused for everyone I think.

In Packagist.org, you have the old package `algolia/algolia-search-bundle` and the new package `algolia/search-bundle` who provide the same versions (3.3.2 by example).
It would be logical to **abandoned** the old version on Packagist and refer to the new package name!
In this case, people won't use anymore the old package nam

[2018-09-29 02:30] kiler129 commented on #261
@nunomaduro PR ready. I hope you like it ;)

[2018-09-29 02:32] kiler129 commented on #123
FYI for anyone looking here - `v3` supports embeddables when groups are properly defined.

Shouldn't we close this, since v2 is EOL?

[2018-10-01 12:05] julienbourdeau commented on #123
Yes @kiler129 I agree. Thanks!

[2018-10-01 12:05] #123 closed

[2018-10-16 10:44] eved42 opened #267 "First indexing : error "Not enough rights to add an object""
- Symfony version: 4.1
- Algolia Search Bundle version: 3.3
- Algolia Client Version: ?
- Language Version: ?

### Description
When I tried to do my first indexing with command `php bin/console search:import` I've got the following error :
![2018-10-16 12_33_23-invite de commandes](https://user-images.githubusercontent.com/12841417/47010642-e3cfee80-d13f-11e8-9043-733263db1927.png)
Note : don't pa

[2018-10-16 10:54] nunomaduro commented on #267
Hello @eved42 👋

**Solution**: Your .env file should contain the `Admin API Key`.

Note that your Admin API key is **very sensitive**: it should never be shared with anyone and must remain confidential.

Please took a look on this section: [algolia.com/doc/guides/security/api-keys](https://www.algolia.com/doc/guides/security/api-keys)

[2018-10-16 11:50] eved42 commented on #267
Ok thank you, it works !
You should update the doc to specify which API key use because there are 4 different.

I didn't see that algolia was paying. I was searching for a solution to increase the search engine in my project that I find a little bit slow. I have a table with more than 600k rows and it's difficult to show fast results.

Do you know other bundles about search for symfony ?

Thank yo

[2018-10-16 11:55] nunomaduro commented on #267
Thanks for the feedback! ☺️

You should address that question on the symfony slack (#support channel). Slack can be found here: [https://symfony.com/community](https://symfony.com/community).

[2018-10-16 11:55] #267 closed

[2018-10-16 13:18] eved42 opened #268 "Exception : AlgoliaSearch requires the CURL PHP extension"
- Symfony version: 4.1
- Algolia Search Bundle version: 3.3
- Algolia Client Version:
- Language Version:

### Description
After indexing my entities, I go on my home page and I have an Exception :
[code]

I checked and I already have the CURL extension with Wampserver. This extension is enabled and I have the `php_curl.dll` file in my php folder.

I also have this line in my php.ini  :
 `extensio

[2018-10-18 02:17] hhmmrrhh commented on #165
Yfug

[2018-10-29 14:58] julienbourdeau commented on #268
Can you check your configuration with the phpinfo function?
http://php.net/manual/fr/function.phpinfo.php
Is curl shown enabled?

[2018-10-29 16:06] B-Galati opened #269 "Index the same entity twice with different indice name"
Hello !

- Symfony version: 4.1.6
- Algolia Search Bundle version: 3.3.2
- Algolia Client Version: 1.27.0
- Language Version: 7.2.7

### Description

I was trying to index the same entity twice with 2 indices name.
My goal was to leverage instantsearch.js [sortBySelector](https://community.algolia.com/instantsearch.js/v2/widgets/sortBySelector.html) widget.

So I did something like this:

[code]

[2018-10-29 16:17] nunomaduro commented on #269
Thanks for reporting this issue @B-Galati. I am going to run a quick test on the next couple days and I will keep you posted! 👍

[2018-10-29 18:03] seyi-adetunji commented on #137
Hi Everyone,
                    Please, I am trying to use Algolia with Symfony 3.4 and after following the configuration instructions, I encountered this error "The service "search.index_manager" has a dependency on a non-existent service "serializer"". Please, can anyone assist?

[2018-10-29 18:36] B-Galati commented on #269
Thanks :-)

[2018-10-30 11:55] tristanbes commented on #137
you need to enable the `serializer` component under the `framework` namespace (in your `config.yml` file:

- https://symfony.com/doc/3.4/serializer.html#activating-the-serializer
- https://symfony.com/doc/current/reference/configuration/framework.html#serializer

[2018-10-31 08:47] nunomaduro commented on #269
Thanks for the wait. The problem comes out of the method ```Algolia\SearchBundle\IndexManager::setClassToIndexMapping```:

[code]

The result using your configuration:
[code]

Having more than one index per `Entity` seems a **real cool feature**. For now, we do have other Pull Requests to merge before coding this feature. Let's keep this open for later. 👍

[2018-10-31 08:49] nunomaduro commented on #262
@emulienfou This issue has been fixed. Thanks!

[2018-10-31 08:49] #262 closed

[2018-11-05 08:28] B-Galati commented on #269
@nunomaduro Thanks for the heads up!

[2018-12-01 13:38] nmeirik opened #271 "Symfony 4.2 deprecation warning (a tree builder without a root node is deprecated)"
- Symfony version: 4.2
- Algolia Search Bundle version: 3.3.2
- Algolia Client Version: ??
- Language Version: ??

### Description
After upgrading to Symfony 4.2, the following deprecation notice is thrown, seemingly related to this bundle:

[code]

[Here](https://github.com/doctrine/DoctrineBundle/pull/853) is the similar issue fixed for another bundle.

### Steps To Reproduce
1. Install Symfony

[2018-12-02 06:27] nmeirik opened #272 "Symfony 4.2 deprecation warning (ContainerAwareCommand deprecated)"
- Symfony version: 4.2
- Algolia Search Bundle version: 3.3.2
- Algolia Client Version: 1.28.0
- Language Version: ?

### Description
After upgrading to Symfony 4.2, the following deprecation notice is thrown, seemingly related to this bundle:

[code]

### Steps To Reproduce
1. Install Symfony 4.2
2. Install algolia/search-bundle `3.3.2`
3. Load up the application
4. Review the deprecation message

[2018-12-02 20:52] arteniioleg commented on #271
I fixed all warnings coming from my code, the rest are from algolia bundle
https://travis-ci.org/arteniioleg/defacto.md/builds/462507431#L568
Hoping for a soon fix

[2018-12-04 09:21] #272 closed, assigned to nobody

[2018-12-06 11:40] nunomaduro commented on #201
@pengend @aequasi @proArtex We just have made Pull Request that addresses this feature. Can you take a look and test it locally? https://github.com/algolia/search-bundle/pull/257

[2018-12-11 10:44] #201 closed

[2018-12-11 15:39] nunomaduro commented on #201
This feature has been released on the version `v3.4.0`.

[2019-01-04 09:56] bonswouar opened #278 "timeout parameter(s)"
Previously there was a `connection_timeout` parameter, which doesn't exist anymore. See https://github.com/algolia/search-bundle/pull/106

IMO we should even include the read & write timeout, see https://www.algolia.com/doc/api-reference/api-methods/configuring-timeouts/?language=php
EDIT : Oh, just saw that `writeTimeout` is "Only available for the following languages: javascript, csharp."

[2019-01-04 12:47] nunomaduro commented on #278
Thanks for bringing this to my attention. You are right! This is a good to have feature.

Do you want work in a Pull Request for this? Any idea for the implementation?

[2019-01-04 17:31] bonswouar commented on #278
I was thinking about a `.env` global parameter.
But now that I give it a thought I guess some use cases would need to customize more programmatically, for example a method in the `indexManager` service and an optional parameter in the command(s).
What do you think ?

[2019-02-07 21:36] kiler129 opened #283 "Determine Index Affected On Normalization"
- Symfony version: 4.2.1
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: 1.28.0
- Language Version: 7.3.1

## Description
Currently normalizers are called with a special `searchableArray` format. However this is still not enough, since you can only determine if the data is serialized for Algolia or for different purpose (e.g. API-Platform). There's no way (or I don't see it) to su

[2019-02-08 00:40] Cypaubr opened #284 "How to rename indexed attribute?"
- Symfony version: 3.4
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: 1.28.0
- Language Version:

Is there a way to rename  indexed attributes like `@Algolia\Attribute(algoliaName="_geoloc")` on the old bundle in this bundle?

[2019-02-11 12:03] nunomaduro commented on #284
@Cypaubr The records it's already indexed? You will need to re-import your data.

[2019-02-11 12:49] Cypaubr commented on #284
@nunomaduro Obviously you did not understand what I wrote. I am moving from the old bundle to the new. In the old bundle, I could rename indexed attribute (and keep the default name in MongoDB) with the annotation. Is there a way to do it with the new bundle?

[2019-02-11 12:55] nunomaduro commented on #284
@Cypaubr I am sorry. It's monday.  🙂

Using the function `normalize` you can archive that: https://www.algolia.com/doc/framework-integration/symfony/customizing/?language=laravel#using-normalize.

[2019-02-13 06:03] kiler129 opened #286 "[Bug] Context Is Lost On Aggregation"
- Symfony version: 4.3.2
- Algolia Search Bundle version: master branch
- Algolia Client Version: irrelevant
- Language Version: irrelevant

### Description
While working on #283 implementation I discovered sometimes context is lost. I was able to track it down to these lines:

https://github.com/algolia/search-bundle/blob/d506f8443d83ae0da0ba32bdc30ad987a843c4ec/src/Entity/Aggregator.php#L89-L92

[2019-02-13 06:53] kiler129 commented on #268
@julienbourdeau Aside from this it's probably good idea to define both minimum PHP version (I created 3 PRs - I still have no idea which one to target and I guess 5.6 because of Travis :P) and required extensions.

This will redirect support questions to general PHP or composer-related SO questions :)

[2019-02-13 07:35] alcaeus commented on #268
@kiler129 be the change you want to see in this world: #289.

As for the CURL requirement, this bundle doesn't use curl at all. The underlying client does and it properly exposes the dependency in its package configuration: https://packagist.org/packages/algolia/algoliasearch-client-php#2.2.0.

[2019-02-14 09:36] nunomaduro commented on #286
Thanks for this @kiler129, could this add some side-effects on people already using the search bundle (with this bug) ?

[2019-02-14 09:37] #284 closed

[2019-02-15 16:36] kiler129 commented on #286
@nunomaduro Basically no custom normalizers configured to support Algolia-related serialization will be invoked.

Imagine an aggregator with such definition:
[code]

Then you have such normalizer:
[code]

**WITHOUT** my fix the condition in `supportsNormalization()` will never be hit. The output of import will be similar to this:
[code]

**WITH** my fix:
[code]

...and this is just `$format`, the

[2019-02-18 10:47] #286 closed

[2019-02-19 09:25] nunomaduro opened #290 "Create a playground"
This **goal** is perform a pull request on the https://github.com/algolia/search-bundle-playground repositority with Symfony Application with Search Bundle Installed on it.

People should be able to clone the project locally and start playing with Search Bundle easily.

[2019-02-19 09:28] nunomaduro opened #291 "Increase PHPStan level to 5"
Seems that PHPStan (`phpstan.neon.dist`) is analysing the project using the level 1, the **goal** here is bump the level until 5.

[2019-02-19 09:40] nunomaduro opened #292 "Add `search:re-import` command"
The **goal** here is to add `search:re-import` command, that uses the `temporary index` technique behind the scenes.

About this command:
[code]

Here is an example of this tecnique implemented on scout extented: https://github.com/algolia/scout-extended/blob/master/src/Console/Commands/ReImportCommand.php.

[2019-02-19 14:42] kiler129 opened #293 "[RFC] Split Large Records Support"
## Background
Algolia recommends splitting large records (e.g. blog posts) into smaller chunks for better search relevance. There seems to be no support for this in the Symfony bundle

## Suggestion
I think that functionality should be implemented in a flexible way, allowing anyone to define decoupled business logic around that. In order to do that from my perspective couple basic principles has t

[2019-02-19 14:44] kiler129 commented on #292
In addition to that it should probably take care about clearing the EM every, say, 1000 records indexed - with larger datasets it's really problematic ;)

[2019-02-19 14:46] kiler129 commented on #291
Wouldn't be also helpful to incorporate PHPCS? The core with addition of https://github.com/slevomat/coding-standard is a great addition to almost any project increasing its quality dramatically.

[2019-02-19 14:49] nunomaduro commented on #291
@kiler129 Yes. We have a issue created to study those tools: https://github.com/algolia/algoliasearch-client-php/issues/519

[2019-02-19 14:50] nunomaduro commented on #293
I need to read your `rfc` carefully, but FYI we have this feature on the laravel integration: https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/split-large-records.

[2019-02-19 15:01] kiler129 commented on #293
@nunomaduro I saw that docs page. My proposition is similar but more flexible and allows for clear separation of concerns to avoid doing nasty `switch`es in the splitter itself based on the entity class (which also makes the process faster).

Additionally giving access to the context allows writing an universal splitter for e.g. articles and comments where the only difference is split length (say

[2019-02-26 13:46] nunomaduro opened #297 "Adds data collector"
### Description

The Symfony Profiler obtains its profiling and debug information using some special classes called data collectors.

It may be a good idea restore this feature from: https://github.com/algolia/search-bundle/pull/57.

[2019-03-07 14:37] kiler129 opened #299 "Wrong Default Value Page On IndexManagerInterface"
- Symfony version: not relevant
- Algolia Search Bundle version: 3.4.0 / private fork
- Algolia Client Version: not relevant
- Language Version: not relevant

### Description
The `\Algolia\SearchBundle\IndexManagerInterface` specifies two methods containing default value for `$page` parameters - `search` and `rawSearch`.

This value is invalid according to Algolia - any attempt to query the engine

[2019-03-07 17:47] kiler129 commented on #293
@nunomaduro Any word on this? I can poke on implementation of this, but it doesn't make sense if it will be left rooting due to architectural doubts.

[2019-03-08 00:05] kiler129 commented on #297
I can take a peek at this if you want. Do you expect just restoring the same functionality or improving it in some way? ;)

[2019-03-08 08:40] nunomaduro commented on #293
@kiler129 Your idea seems fine, but I don't want rush things. Let's hold this for some weeks.

[2019-03-08 08:41] nunomaduro commented on #297
@kiler129 Thank you! We are open for sugestions, but would be cool to have this.

[2019-03-08 08:45] nunomaduro commented on #299
Thanks for this investigation, I also think that `0` makes no sense.

I aggree on this: `Is there any chance of cleaning this up, maybe in a next major with some warning for the time being? `.

Can you perform a pull request that adds phpdocs with a todo or similar?

[2019-03-10 04:43] kiler129 commented on #299
Sure, I can add such warning to the interface.

There's still the confusion of page numbering. Everywhere in the docs (e.g. https://www.algolia.com/doc/api-reference/api-parameters/page/?language=php#usage-notes) the first page is referred as `0` while Symfony bundle automatically makes pages one-base.

Is the Symfony bundle an exception? How does it look in other frameworks/languages which Algoli

[2019-03-11 09:56] nunomaduro commented on #299
@kiler129 `Is the Symfony bundle an exception?` It's not. Is just a bug in our code:
[code]

The `- 1` should not be there. Please add a `@todo` using a Pull Request here we should address this on the next major version.

[2019-03-29 13:37] ZFLloyd opened #300 "Question: Import command runs normally but not indices are uploaded (using a custom normalizer)"
- Symfony version: 4.0
- Algolia Search Bundle version: 3.2

Hi, I've written a custom normalizer since using the Searchable annotations do not provide what the project I'm working on needed, I added a Custom Normalizer:

[code]
Here is the related part in services.yaml:

[code]

and the algolia_search.yaml:

[code]

And testing it it gives me the right output:

[code]

But when I try and use the

[2019-04-05 08:33] ZFLloyd commented on #300
I just realized my mistake (used NormalizableInterface instead of NormalizerInterfac..), and I should've have probably asked on stackOverflow instead. Sorry !

[2019-04-05 08:33] #300 closed

[2019-04-12 11:46] nunomaduro opened #301 "[4.0] Upgrade to PHP Client dependency to ^2.2"
### Description

The search bundle is using the version `^1.0` if our PHP API Client.

**Goal**: To resolve this issue, you should perform a pull request upgrading the PHP API Client dependency to `^2.2`.

[2019-05-03 15:14] lolmx opened #302 "[Question] Aggregator ETA"
Hello!

I just saw that aggregator supports has been added to master, gave a try and it works greatly.

I was wondering if you have an ETA for next release.

Regards,

[2019-05-03 15:23] nunomaduro commented on #302
It's already included on the version 3.4: https://github.com/algolia/search-bundle/blob/master/CHANGELOG.md#340.

Enjoy! 🔥

[2019-05-03 15:23] #302 closed

[2019-05-03 15:37] lolmx commented on #302
Oh didn't see, thanks 👍

[2019-05-24 18:59] pedrocasado opened #303 "Command search:clear doesnt consider prefix"
- Symfony version: 3.4.26
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: 1.28.0
- Language Version: php7.2

### Description

The search:clear command doesnt consider prefix on index name.

### Steps To Reproduce

- Create an index called prod_product
- Create an entity Product
- Setup bundle

[code]

- Run task

[code]

Index name should consider prefix and be prod_product

[2019-05-24 19:07] pedrocasado commented on #303
Specifying the -i option it does clear the correct index.

[code]

The result should be the correct index name (prod_product), but thats ok.

[code]

[2019-05-24 19:07] #303 closed

[2019-06-03 09:27] nunomaduro commented on #290
https://github.com/algolia/api-clients-playground/tree/master/symfony

[2019-06-03 09:27] #290 closed

[2019-06-03 09:33] nunomaduro commented on #160
@tristanbes I don't think we should `continue indexing the other rows and at the end`, at least at the moment - as I consider this to be a `RuntimeException`.

But yeah, I would be great to have access to the doctrine entity information where this happened.

[2019-06-05 04:38] Cypaubr opened #304 "Class 'Algolia\SearchBundle\Document\Aggregator' does not exist"
- Symfony version: 3.4.28
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: #.#.#
- Language Version:

### Description
Can't do nothing, just this error is raised:
`Class 'Algolia\SearchBundle\Document\Aggregator' does not exist`

### Steps To Reproduce
Install SearchBundle following the documentation.

[2019-06-05 08:21] nunomaduro commented on #162
This issue is from year ago.

Action: Check if the problem still exists. And if exists: Add something to the logs, and create an issue that targets the next major version to solve this.

[2019-06-05 08:27] TomKlotzPro commented on #304
Hi @Cypaubr, thanks for reporting this issue.

I’ve tried to reproduce your step and I’m not able to raise your error, did you follow our [Documentation](https://www.algolia.com/doc/framework-integration/symfony/getting-started/)?

Don’t hesitate to tell us which part of our documentation you had troubles with to see together what can be your issue.

[2019-06-05 14:58] julienbourdeau commented on #162
I think the current state is just to ignore it. I `filter()` the collection so all null values are removed. In the end, I think it's fine.

Reindexing regularily is highly recommended by the way.

[2019-06-05 15:26] tristanbes commented on #162
then make it a free operation :p (if not possible, don't loose our indexing credit each month). I have huge data set, and each time I want to clear algolia to reindex the whole set, but I don't want to endup paying extra :(

(because sometimes algolia connexion time out and I have things in DB that doesn't exist on Algolia)

[2019-06-06 05:02] Cypaubr commented on #304
Yes, I followed the documentation. But I guess the problem is caused by the fact I use Doctrine ODM not the ORM.

[2019-06-10 12:20] tristanbes opened #305 "Weird output when indexing"
Hello,

When indexing with `v3.4.0`, it outputs weird numbers, not a big issue though, but weird :)

<img width="567" alt="1__php_bin_console_search_import_--indices_cv_team_multigaming__ssh_" src="https://user-images.githubusercontent.com/346010/59194887-c34f1b80-8b8a-11e9-8f1a-76c054c06188.png">

[2019-06-10 14:46] TomKlotzPro commented on #305
Hello Tristanbes,

Thanks for reporting this,

In fact, these are not weird numbers, it shows: for each batch of 500 entities, only X values are actually imported to Algolia.

Let me know if you have any other questions.

[2019-06-10 15:06] tristanbes commented on #305
mhh, that explains why it's so random then. Thanks.

[2019-06-10 15:06] #305 closed

[2019-06-10 21:13] tristanbes commented on #160
I continue to think that throwing an exception is not what we can exept.

I just did some maintenance operation on my website which consist in 3 operations:
- detect if users put some link in their description
- remove found links
- send emails

I got 50,000 rows to process.

At some point, the command crashes because of 1 item too big for Algolia. (Note that i'm using the Listeners from Doctrine)

[2019-06-19 08:11] chloelbn commented on #162
I've checked the issue and could not reproduce the bug. This seems to have been fixed now. Please make sure you're using the latest version and don't hesitate to reopen this issue if they are problems remaining. Thanks!

[2019-06-19 08:12] #162 closed

[2019-06-20 02:47] NoodlesNZ opened #307 "Pagination doesn't seem possible with Algolia\SearchBundle\IndexManager::search()"
- Symfony version: 4.3
- Algolia Search Bundle version: 3.3.2
- Language Version: PHP 7.2.19

### Description
Using the `search()` method is great because it returns an array of entities that we can output into our template. The only problem is there's no metadata returned and the only way to get total count etc is to run a `IndexManager::count()` which fires another query at the Algolia API.

Wou

[2019-06-25 09:16] #304 closed

[2019-07-11 14:58] ZFLloyd commented on #301
I've started trying to do the upgrade, but I would like to know what is necessary to use the testsuite. I can run the tests but seems I am missing a few things.

[2019-08-12 23:04] martinfobian commented on #304
I'm having the same problem with the aggregator class missing. We are also using Doctrine ODM in our project, though we are not trying to index MongoDB documents, just ORM entities. As soon as I turn auto_mapping on for ODM, this error comes up.

PHP 7.3.8
Symfony 3.4.30
Search Bundle 3.4

Any ideas how to get around this?

[2019-09-05 15:13] neyric commented on #304
Got the same issue upgrading from 3.3.2 to 3.4.0. (also using Doctrine ODM)

It's probably caused by https://github.com/algolia/search-bundle/pull/257 , so we decided to stick with 3.3.3 for the time being...

[2019-09-06 09:25] Cypaubr commented on #304
@neyric Did you created your own aggregator for using the ODM with search-client?

[2019-09-10 12:35] chloelbn commented on #268
Thanks for the good job everyone! I'm closing this issue now

[2019-09-10 12:35] #268 closed

[2019-10-04 15:18] ostrolucky opened #311 "Useful catch_log_exceptions option is lost"
- Symfony version: 3.4.31
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: 1.28.0
- Language Version: PHP 7.3.9

### Description
We are migrating from 1.x and we noticed that since  https://github.com/algolia/search-bundle/commit/d443848a3bf5636876d0e34155b707f9f3f50018 there is no `algolia.catch_log_exceptions` option.

This was useful for us, because developers now can't work off

[2019-10-04 15:28] nunomaduro commented on #311
@ostrolucky You just to need to swap `AlgoliaEngine` by the `NullEngine`: https://www.algolia.com/doc/framework-integration/symfony/advanced/?language=php#about-the-nullengine.

[2019-10-04 15:38] ostrolucky commented on #311
I mean idea was to just silence connection errors, not block all connection requests, even when dev is online. But meh, good enough for now to make dev configure this each time he needs to develop offline

[2019-10-04 15:38] #311 closed

[2019-10-14 08:39] #301 closed

[2019-10-14 11:30] chloelbn commented on #261
I'm closing this issue as the related PR has been closed too.
@kiler129, if you would still like to make a PR, don't hesitate and submit it to us! We released the v4 just today, it would be awesome if you checked the [upgrade guide](https://github.com/algolia/search-bundle/blob/master/UPGRADE-4.0.md) and started from here! It's still an alpha so feedbacks are very much welcome.

Have a good day!

[2019-10-14 11:30] #261 closed

[2019-10-14 13:49] chloelbn commented on #278
Hello @bonswouar, sorry for the delay to reply to your issue.
We just released the [Search Bundle v4 alpha 2](https://github.com/algolia/search-bundle), which integrates our [PHP Client v2](https://www.algolia.com/doc/api-client/getting-started/install/php/?language=php) 🎉!!

Thanks to this new version, you can now make direct calls to the `SearchClient`, which has become public. That means to sti

[2019-10-14 13:49] #278 closed

[2019-10-14 14:11] chloelbn commented on #291
Those features have been added to our new [SearchBundle v4](https://github.com/algolia/search-bundle) 🎉 ! Don't hesitate and follow our [upgrade guide](https://github.com/algolia/search-bundle/blob/master/UPGRADE-4.0.md) to get acquainted with all the new features it proposes. It's still an alpha, so feedbacks are more than welcome!

Happy coding

[2019-10-14 14:11] #291 closed

[2019-10-14 14:22] chloelbn commented on #299
@kiler129 I'm closing this issue as it has been fixed in our new SearchBundle v4! Don't hesitate and check our [Upgrade Guide](https://github.com/algolia/search-bundle/blob/master/UPGRADE-4.0.md) to get acquainted with all the new features it offers, and don't hesitate to give us feedbacks! This is only an alpha version so feedbacks would be very much appreciated.

Thanks a lot!

[2019-10-14 14:22] #299 closed

[2019-10-14 15:32] chloelbn commented on #307
As explained in the related PR (https://github.com/algolia/search-bundle/pull/308), I'm closing this issue. Thanks a lot for your contribution!

[2019-10-14 15:32] #307 closed

[2019-10-24 16:13] ostrolucky opened #312 "Class 'Algolia\SearchBundle\Document\Aggregator' does not exist"
Repening https://github.com/algolia/search-bundle/issues/304 as this is still an issue, hopefully I will provide more info

- Symfony version: 3.4.32
- Algolia Search Bundle version: 4.0.0-alpha2
- Algolia Client Version: 2.4.0
- Language Version: 7.3.10
- doctrine-odm-bundle Version: 3.6.1

This happens when using `doctrine_mongodb.document_managers.default.auto_mapping: true` setting. I think th

[2019-10-25 16:43] ostrolucky opened #313 "Remove internal flag from Searchable class"
You can't mark this https://github.com/algolia/search-bundle/blob/a99f80b56601fc1dd6eea301f1cc57835149a7ad/src/Searchable.php#L6 internal and at the same time recommend to use it in your documentation https://www.algolia.com/doc/framework-integration/symfony/customizing/?language=php#handle-multiple-formats

[2019-10-25 16:47] nunomaduro commented on #313
Thanks for this feedback - My colleague @chloelbn will handle your feedback next Monday. Thanks for your help!

[2019-10-28 10:15] chloelbn commented on #313
Indeed, thanks a lot @ostrolucky ! I created a PR to fix that problem if you want to take a look: https://github.com/algolia/search-bundle/pull/314

Otherwise what are you thoughts on the v4? Are you satisfied with the new features? Was the upgrade difficult? Thanks a lot for your insights!

[2019-10-28 10:30] ostrolucky commented on #313
We are upgrading from customized 1.x, so changes between 3. and 4. aren't very relevant for us. And we aren't done yet.

[2019-10-28 11:40] #313 closed

[2019-10-29 10:44] chloelbn commented on #312
Hello @ostrolucky

Thanks a lot for your detailed feedback.
With doctrine-odm-bundle you have the possibility to alias namespaces. With that in mind, it can be a workaround to alias our `SearchBundle\Entity` namespace to `SearchBundle\Document`, like this:
[code]

Tell me if it could work for you.
@alcaeus, could you give us your feedback about that solution as well?

Thanks a lot!

[2019-10-29 12:24] ostrolucky commented on #312
Yeah I figured out I can fix it this way, but I think user would expect bundle will work out of the box, right? Maybe easy help here would be to add this suggestion to installation instructions? Cuz this issue is pretty hard to figure out, exception message doesn't tell how to fix it.

[2019-10-29 12:33] chloelbn commented on #312
Indeed it's a part that lacked documentation so it's really great you took the time not only to open this issue but to point us in the right direction. The goal was definitely to find a workaround that could be added to our documentation so if it's a good fix, I'll add it.

[2019-10-29 12:41] alcaeus commented on #312
Given that `auto_mapping` is something users have to explicitly enable in the configuration for DoctrineMongoDBODMBundle, I'm ok with this being shown in the documentation.

In terms of reducing friction it'd be way easier for everyone involved if you stuck to the established naming conventions: objects are called "entities" for ORM and "documents" for MongoDB ODM. This is true for all object mapp

[2019-10-30 09:39] ostrolucky opened #315 "Groups support in JMS serializer"
- Symfony version: 3.4.32
- Algolia Search Bundle version: 4.0.0-alpha3

### Description

I would like to know what's the reason behind explicitly not supporting groups for JMS serializer in #225?

Maybe this is something that can be changed in version 4? We heavily use jms serializer in our project so we can't use default group. I can define different serializer service with default group defined

[2019-10-30 09:45] ostrolucky commented on #315
Actually this might cause an issue, because defining new serialization context for purpose of defining group would override default context, which doesn't define just default group, but also things like `shouldSerializeNull` option. Was this the reasoning in #225?

[2019-10-30 10:15] ostrolucky opened #316 "Handling relations in indexes"
- Symfony version: 3.4.32
- Algolia Search Bundle version: 4.0.0-alpha3

### Description
I can see there is still no kind of support for relations handling. As an example, we have index `user` and index `sedcard`, which is user's profile. So there is `ManyToOne` relation between `User` and `Sedcard`.

Now, we do index some data from `User` in `sedcard` index, such as `username`. What we need is to

[2019-10-30 13:55] ostrolucky opened #317 "Bring NullEngine back"
- Algolia Search Bundle version: 4.0.0-alpha3

### Description
We have difficulties to replace this functionality. Alternative you suggested requires writing implementation for interface with 11 (!!) methods. We can't use phpunit mocks, as we need to inject service into service container. We use algolia in multiple projects, this will slow down upgrade process a lot. Why was it removed?

[2019-10-30 14:08] ostrolucky commented on #297
This feature was unfortunately never merged upwards. Why? It is in 2.x.

[2019-10-30 14:42] chloelbn commented on #312
Hi @alcaeus ! Thanks for your feedback. I agree that our architecture should reflect the fact that you can use independently both ORM or ODM. I'll make a PR about this!

[2019-10-30 16:17] chloelbn commented on #312
@ostrolucky would you mind give us your thoughts on the related PR and see if it suits your needs?

[2019-10-31 12:38] #312 closed

[2019-10-31 13:01] julienbourdeau commented on #317
Yeah I agree, the NullEngine is ❤️ It's probably going to come back before the final release.

[2019-10-31 13:55] nunomaduro commented on #317
There is no engine in the new version. Only `SearchService`, maybe we can apply the following strategy:

[code]

What do you think @chloelbn ?

[2019-10-31 14:04] chloelbn commented on #317
What bothers me with a NullSearchService is that all the logic regarding the manipulation of objects will have to be duplicated, while what we'd want is turn off the calls to Algolia and that's what the NullEngine was exactly doing. But that would imply reusing the Engine class again. I need to think about this a little bit more.

[2019-10-31 14:52] julienbourdeau commented on #315
There is no real reason behind it to be honest. I had feedback about people using JMS serializer and I added compatibility. I was not very familiar with it and chose to only handle the most powerful use case (defining a Serializer class).

Maybe using Groups with JMS is a lot of work, maybe it's simple, I have no idea.
If you want to help, please feel free to send a PR.

Also, I want to say that w

[2019-10-31 16:03] chloelbn commented on #316
Hi @ostrolucky, thanks for your feedback.

To put it simply, we prefer to let the end user handle on their side how their child relationship updates, as they're handling how they relate too. We can't know if an attribute from EntityA is used to serialize EntityB.
You can choose to either retrieve the related entities and update them manually when you update a parent, or try to take advantage of th

[2019-11-01 18:28] ostrolucky commented on #315
Yeah I decided it's not worth to loose ability to use other default options like mentioned in https://github.com/algolia/search-bundle/issues/315#issuecomment-547818482. That's going to happen, because JMS requires defining whole new serialization context in order to define group to apply, like so
[code]

For future travelers, here is how to configure serializer with own context to inject into alg

[2019-11-01 18:28] #315 closed

[2019-11-01 18:39] ostrolucky commented on #316
Here's what I did in our project

[code]

In theory it would be possible to ship abstract version of this in algolia bundle, but unfortunately ODM and ORM don't share same interface for `PreUpdateEventArgs`, which makes this not ideal. Let's close for now.

[2019-11-01 18:39] #316 closed

[2019-11-01 18:45] ostrolucky commented on #317
With new design, (Void|Null)Client should be shipped instead. I have created following class
[code]

Which additionally has feature allowing to pull algolia requests out and assert expected ones were triggered in test cases. Serves as damage control for missing https://github.com/algolia/search-bundle/issues/297

[2019-11-04 10:26] chloelbn commented on #317
@ostrolucky I like your solution! If you're okay with it, I'll add it to the doc and upgrade guide. Thanks for your help!

[2019-11-04 10:48] ostrolucky commented on #317
Definitely, feel free. Although wiring of this is not easy, because there is no service for http client nor ApiWrapper defined, so consumer needs to replace whole `search.client` service, including defining new services for ApiWrapper, TestClient, SearchConfig, ClusterHosts

[2019-11-04 13:36] julienbourdeau commented on #317
I think the `NullEngine` is still useful when working locally. You may import data and refresh the database often for instance. You probably don't need to dispatch calls to Algolia when working on something totally unrelated.

It's also useful when working offline.

[2019-11-04 15:38] chloelbn commented on #317
@julienbourdeau Could you tell me what would be the drawbacks of using @ostrolucky 's implementation instead of `NullEngine` ? I'm not sure I see them
@ostrolucky you can take advantage of the PHP Client [setHttpClient](https://www.algolia.com/doc/api-client/advanced/pass-options-to-the-http-client/php/?language=php) method to achieve this. However while it's easy to use in a test suite, I'm still

[2019-11-04 20:40] ostrolucky commented on #317
Drawback is that all users interested in this need to create class themselves and wire everything themselves. I think both me and @julienbourdeau would be interested to have NullClient in bundle/core, so it doesn't need to be copy pasted from documentation for all users interested in this feature.

As a first step to help here I have created https://github.com/algolia/algoliasearch-client-php/pull

[2019-11-05 10:58] chloelbn commented on #317
@julienbourdeau is more in favor of a `NullEngine`, which changes the strategy.
I might be more leaning forward a `NullClient` as to me it may be best to turn off directly the requests and keep the logic of the others classes (DB related stuff, keep the `AbstractResponses`), and rely on https://www.algolia.com/doc/api-client/advanced/pass-options-to-the-http-client/php/?language=php

[2019-11-05 16:41] chloelbn opened #319 "Proposal for NullClient"
Several conversations have been around about how to handle during development or test the calls made to Algolia.

After some thoughts the solution I propose would be to have a new settings in the `algolia_search` parameters that would be `http_client`. This would give the opportunity for the customer to pass any requester they like, including a `NullClient`, and solve the issue of Algolia calls on

[2019-11-05 16:42] chloelbn commented on #317
@ostrolucky I've opened a new issue to propose my solution, would you mind giving a look and share you thoughts?

Thanks

[2019-11-05 19:56] ostrolucky commented on #319
Would you mind explaining advantage of following in `config_test.yml`
[code]
over doing following in `services_test.yml`?
[code]

I don't see it.

Anyways, doing https://github.com/algolia/algoliasearch-client-php/pull/596 is a prerequisite to do either of these, otherwise where would you put `Algolia::setHttpClient` call?

[2019-11-06 09:29] chloelbn commented on #319
@ostrolucky It's just to have a dedicated `algolia_search.yml` file in each environment, the same way it's done for doctrine for example. If you rather do it in `services.yml` I don't think it makes a difference as long as it's declared only once in each env.

As for the call to `Algolia::setHttpClient`, I intended to do it in [this file](https://github.com/algolia/search-bundle/blob/master/src/De

[2019-11-06 10:05] ostrolucky commented on #319
Services are not available in that file, only their definitions. And I don't know how would you prepare definition for random static call. Result of this call is not a service, so it can't be service definition. Hence I think we should do this properly, inject correct stuff from beginning and not rely on `Algolia::setHttpClient`

It doesn't make much difference for user, but does make difference f

[2019-11-06 10:17] chloelbn commented on #319
And so where would you put the call to setup Algolia with its new client?

[2019-11-06 10:25] ostrolucky commented on #319
This needs to be split into more services https://github.com/algolia/search-bundle/blob/7b02cead4e26549e4bb8f3f19efbb747be1fc925/src/Resources/config/services.xml#L18-L22 instead of using `create` factory method.

Following is what is currently required from userspace to do - that's the wiring difficulty I was talking in https://github.com/algolia/search-bundle/issues/317#issuecomment-549301086
[c

[2019-11-06 14:42] chloelbn commented on #319
Okay, I see what you want to achieve and while this is not a bad idea, I think we're drifting away from our initial implementation. Plus I don't want to update the PHP Client to achieve this particular need for the Symfony integration.
We need to move on and deliver the bundle so I'll stay with my original idea of letting the user create a new class implementing the `SearchServiceInterface` and pr

[2019-11-06 14:42] #319 closed

[2019-11-06 14:43] chloelbn commented on #317
I'll follow what @nunomaduro originally suggested and create a `NullSearchService`. Thanks a lot for sharing all your suggestions everyone!

I'm closing this issue.

[2019-11-06 14:43] #317 closed

[2019-11-06 15:18] chloelbn commented on #319
See https://github.com/algolia/search-bundle/pull/320

[2019-11-16 11:50] ostrolucky opened #322 "Definalize NullSearchService"
Can we make NullSearchService not final, so we can hook into behaviour of single method? Otherwise there isn't much point for it if we have to redefine those 11 methods again.

[2019-11-16 12:50] nunomaduro commented on #322
Sounds a good idea to me. https://github.com/algolia/search-bundle/pull/323.

[2019-11-20 12:48] Cypaubr opened #326 "Conflicts with Doctrine ODM?"
- Symfony version: 4.3.5
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: none
- Language Version: FR

### Description
When I install the bundle, composer sais it conflicts with Doctrine ODM Bundle. Why? MongoDB is still not supported by this bundle?

### Steps To Reproduce
Install both ODM bundle and Search Bundle.

[2019-11-20 14:18] nunomaduro commented on #326
No. But the beta version, that will be become stable next week, already supports it! Do you mind of trying it out? Here tagged version of the beta is: `4.0.0-beta2`. You can install it using:

[code]

If you are using the v3, here is the upgrade guide: https://github.com/algolia/search-bundle/blob/master/UPGRADE-4.0.md.

[2019-11-20 14:18] nunomaduro commented on #326
cc @chloelbn

[2019-11-20 15:42] Cypaubr commented on #326
@nunomaduro Same issue with `4.0.0-beta2`

[2019-11-20 15:46] chloelbn commented on #326
@Cypaubr could you tell me what bundle you're trying to install and what version please?

[2019-11-20 16:15] Cypaubr commented on #326
@chloelbn `algolia/search-bundle:4.0.0-beta2` in a project using `"doctrine/mongodb-odm-bundle": "^4.0"`

[2019-11-20 20:06] Cypaubr commented on #326
It seems to be working using the dev-master version. But I got another error in composer:
[code]

[2019-11-21 18:05] Cypaubr commented on #326
Any solution?

[2019-11-22 23:12] Cypaubr commented on #326
@chloelbn I cleared the app cache, the composer cache, removed the `vendor/` then added `"algolia/search-bundle": "4.0.0-beta2"` to the composer.json and then installed the deps with `composer install -o`. After the installation, I added the line for the SearchBundle inside `bundles.php` and then tried to do` ./bin/composer cache:clear` and same error:
[code]

[2019-12-02 10:20] nunomaduro opened #329 "tests: timeout in CI on 300 seconds"
Currently, on the CI, when tests take more the 300 seconds, the symfony process will fail saying that the process toke more than 300 seconds.

**Solution**: pass an argument to PHPUnit specifying a bigger timeout.

[2019-12-02 12:25] #329 closed

[2019-12-05 16:25] Cypaubr opened #331 "Prevent auto indexing fixtures"
- Symfony version: 4.3.8
- Algolia Search Bundle version: 4.0.0-beta2
- Algolia Client Version: #.#.#
- Language Version: fr

### Description
The bundle indexes the documents persisted into MongoDB even when generating fixtures. How to prevent indexing fixtures?

[2020-01-11 17:02] #322 closed

[2020-01-13 10:38] #292 closed

[2020-01-13 10:44] Cypaubr commented on #331
Is there a way to disable indexing when loading fixtures?

[2020-01-13 10:45] #326 closed

[2020-02-26 21:00] wlasnapl opened #337 "Problem with aggregators in 4.1.0 version"
- Symfony version: 4.4.4
- Algolia Search Bundle version: 4.1.0
- Algolia Client Version: 2.5.1

### Description
Aftere upgrade to 4.1.0 indexing aggregators is broken. After revert to 4.0.0 everything is working fine.
It looks like that this part of code in SearchImportCommand is to blame:
https://github.com/algolia/search-bundle/blob/6714243a8eb87153b68a4efdb94c7d7349f60eda/src/Command/SearchImp

[2020-03-27 14:52] Cypaubr opened #338 "Impossible to connect"
- Symfony version: 4.4.6
- Algolia Search Bundle version: 4.1.0
- Algolia Client Version: #.#.#
- Language Version: fr

### Description
Did nothing, just one day I got this error. I checked the APP_ID and the API_KEY they are good.
Here is the output:
[code]

### Steps To Reproduce
Just try to index a document.

[2020-03-27 15:00] nunomaduro commented on #338
Can you confirm that you have done all steps right? https://www.algolia.com/doc/framework-integration/symfony/getting-started/installation/?language=php#require-the-dependency-with-composer

If yes, try to clear the cache with:

[code]

Let me know how it goes.

[2020-03-27 15:34] Cypaubr commented on #338
@nunomaduro Yes I use thsi bundle for several months now and the problem appeard last week. I already tried to clear the cache. It changes nothing.

[2020-03-27 15:56] nunomaduro commented on #338
The version is `4.0` is only out on on Jan 23. Did you followed the upgrade guide? https://www.algolia.com/doc/framework-integration/symfony/getting-started/upgrade-guide/?language=php

[2020-03-27 16:07] nunomaduro commented on #338
@Cypaubr Are you using a windows machine?

[2020-03-27 22:31] Cypaubr commented on #338
I was on the 4.0-beta when it was working fine.

Here is my [composer.lock](https://gist.github.com/Cypaubr/37b2822f48df9c1a2b6566458363c9de) file.

Yes I am on a Windows machine.

[2020-04-01 07:46] PierrickMartos opened #339 "Proxy objects indexed when used with Aggregator"
Hi,

- Symfony version: 3.4.39
- Algolia Search Bundle version: 3.4.0
- Algolia Client Version: 1.28.0
- Language Version: 7.3.13

### Description

I use the aggregator since a few days and i've found an issue during objects index. For some objects, can't find out why and specially **when**, i got two items uploaded, one with the right class name and one with the doctrine proxy, e.g of an ObjectId

[2020-04-01 08:19] PierrickMartos commented on #339
After digging, here is what i've found.

When we index regular entities (not extending `Aggregator`), all this entities go trough the  `ClassUtils::getClass()`, it's called into `\Algolia\SearchBundle\IndexManager::isSearchable` when you filter the `$entities` array into `\Algolia\SearchBundle\IndexManager::index`.

Same behavior don't occured for aggregated entities, into `\Algolia\SearchBundle\I

[2020-04-01 08:53] #339 closed

[2020-04-01 09:41] nunomaduro commented on #338
Hey @Cypaubr, do you still have troubles? If yes, can you run https://community.algolia.com/diag/ and tell me the result?

[2020-04-01 09:46] nunomaduro commented on #337
Can you point me to the line that can caused that problem here: https://github.com/algolia/search-bundle/compare/4.0.0...4.1.0 ?

[2020-04-01 17:39] Cypaubr commented on #338
Hello @nunomaduro , yes I still have the problem.

Here is the output:
[code]

[2020-04-02 08:58] nunomaduro commented on #338
@Cypaubr Can you send an email to support@algolia.com? Please ask to get in touch with "Nuno Maduro". Thanks!

[2020-04-02 08:58] #338 closed

[2020-04-03 12:21] wlasnapl commented on #337
@nunomaduro sorry for misleading. It was in the 4.1.0 code. I've updated description to point real issue. It looks like you forgot that you have aggregators function to handle also :)

[2020-05-01 06:53] remialvado opened #344 "[DI] : missing ManagerRegistry when not using any ORM/ODM"
- Symfony version: 5.0.8
- Algolia Search Bundle version: 4.1.1
- Algolia Client Version: 2.6.1
- Language Version: PHP 7.4.2

### Description

I'm using this bundle in a project that does not rely on any ODM or ORM. All search queries made are using the `SearchService::rawSearch(...)` method but I have an issue to build the DIC :

[code]

### Steps To Reproduce

Just require `"algolia/search-bund

[2020-05-05 14:30] apfelbox opened #345 "[Feature Request] Allow programmatic (+ atomic) full reindex / import"
- Symfony version: 5.0+
- Algolia Search Bundle version: any
- Algolia Client Version: any
- Language Version: any

### Description
It would be really great if you could extract the logic in `SearchImportCommand` into a separate service, so that one can easily do an atomatic full reimport programmatically. Currently you have to manually build fake CLI arguments and call the command, which is quite

[2020-06-17 08:53] nunomaduro opened #347 "Calling Doctrine\ORM\EntityManager::clear() with any arguments to clear specific entities is deprecated"
- Symfony version: 5
- Algolia Search Bundle version: 4.1.1
- Algolia Client Version: latest
- Language Version:

### Description

[code]

Example: https://github.com/algolia/search-bundle/blob/acad5a642f519708bbc567feb2ed9af2ae79523e/src/Command/SearchImportCommand.php#L127

### Steps To Reproduce

1. Clone the playground and install it.
2. Run `php bin/console search:import -vvv`.

### Actions

[2020-06-18 14:39] MaSpeng opened #348 "Missing documentation on how to handle replicas"
- Symfony version: 4.4.5
- Algolia Search Bundle version: 4.1.0
- Algolia Client Version: 2.5.1
- Language Version: 7.4.1

### Description
The current documentation about the integration of the search bundle is missing how to handle replicas the right way.
I was able to sort some steps out and bypass the issue which is mentioned in: https://github.com/algolia/search-bundle/issues/269.

My target i

[2020-06-27 00:57] wlasnapl commented on #337
@nunomaduro  Is this bug going to be fixed?

[2020-06-27 11:15] nunomaduro commented on #337
@chloelbn do you think you can take a look at this next week?

[2020-06-30 09:19] chloelbn commented on #337
@wlasnapl I tried to reproduce your issue on my end but everything looks fine. Are you only using aggregators and no entities? Did you make sure that in your Aggregator class the `getEntities` method returns the classes you wish to add? Did you register your aggregator in the `algolia_search.yml` file? Any code snippets would be appreciated to better understand what could be going on! Thanks a lot

[2020-07-09 14:05] MaSpeng commented on #337
The problem occurs especially if one of the entities to be aggregated does *not* have a configuration for its own index.

Using the example of the documentation: https://www.algolia.com/doc/framework-integration/symfony/advanced-use-cases/multiple-models-in-one-index/?language=php

If there is no configuration for a dedicated index in `algolia_search.yml` for the entity `Comment::class`, only obje

[2020-08-12 07:40] MaSpeng commented on #337
@chloelbn Did you have any chance to check the issue against the example repository i provided?

[2020-08-17 13:10] chloelbn commented on #345
Hi @apfelbox, sorry but I'm not sure I fully understand your need. Would you mind providing example of what you're trying to achieve?

Thanks in advance

[2020-09-01 15:31] apfelbox commented on #345
Yeah, sure

Often times, we have an internal importer that is importing data in an internal command. We disable automatice Doctrine-based indexing for the duration of the import (for performance reasons) and do a complete reimport afterwards.

It would be great if this complete reimport could be done with just an internal service.

[2020-10-26 16:39] chloelbn commented on #344
Hi @remialvado ! Could you explain your use-case to use this bundle instead of the [PHP Client](https://www.algolia.com/doc/api-client/getting-started/what-is-the-api-client/php/?language=php) directly if you don't rely on ORM/ODM? Thanks!

[2020-10-26 16:41] chloelbn commented on #345
@apfelbox do you mean something like what was provided in [this feature](https://github.com/algolia/search-bundle/pull/324)?

[2020-10-27 07:10] remialvado commented on #344
Hi @chloelbn and thanks for the reply. I was trying to use it because I'm using Algolia and Symfony and I wanted to perform some searches from our backend on a small projects (usually, we are performing searches from our UI directly) : it seems quite logic to use Algolia Search Bundle since it is supposed to integrate nicely with Symfony. I've opened this ticket on May 1st and, having no answer, I

[2020-10-27 11:20] apfelbox commented on #345
Not really.

Right now, if I want to do a full reimport programmatically, so from my Symfony application, I have two options:

1. call the `SearchImportCommand::execute()` directly – which is a heavy code smell
2. call the console command like this: https://symfony.com/doc/current/console/command_in_controller.html – which is also a heavy code smell.

When all I want to do is

[code]

All the func

[2020-10-27 13:12] chloelbn commented on #345
Okay! I misread your need and got confused. I see what you mean, what's happening in the -Command class could indeed be extracted in an external service. Would you feel up to submitting a PR for this?

[2020-10-27 14:13] chloelbn commented on #344
The searchBundle was just designed to go in hand with an ORM: you'd use it to send your entities to Algolia. This is what we had in mind when we build it... I don't really see the added value in using this bundle without an ORM instead of using plainly the PHP client, so I don't think we'd plan on making the dependency optional!

I'm closing this issue, but don't hesitate and open it back if you h

[2020-10-27 14:13] #344 closed

[2020-12-03 16:10] sylfabre opened #356 "Support doctrine/common v3.0"
I would like to use `symfony/doctrine-bridge` v5.2
It requires `doctrine/persistence` v2.0

The latest version of `algolia/search-bundle` requires `doctrine/common` v2.5
`doctrine/common` v2.* requires `doctrine/persistence` v1.3.3

So I cannot use `symfony/doctrine-bridge` v5.2 because of `algolia/search-bundle` 😥

[2020-12-03 21:13] sylfabre commented on #356
This PR https://github.com/algolia/search-bundle/pull/355 addresses the issue

[2021-01-18 11:39] #337 closed

[2021-02-17 13:52] #347 closed

[2021-06-29 15:27] keichinger opened #361 "[Bug] Aggregation will constantly show up in new Doctrine Migrations"
- Symfony version: 5.3
- Algolia Search Bundle version: 5.1.0
- Algolia Client Version: 3.0.2
- Language Version: ?

### Description

I could reproduce this issue in multiple projects now.

Creating a new Aggregation strictly following the tutorial at https://www.algolia.com/doc/framework-integration/symfony/advanced-use-cases/multiple-models-in-one-index/?client=php will work like a charm.

Howev

[2021-06-29 15:30] keichinger commented on #361
While we're already at discussing „interesting” Aggregation side effects: I'm really wondering whether we really need to declare an Aggregation as an `@ORM\Entity()`?

Is this an easy way out to better integrate into the existing infrastructure with Doctrine listeners etc.?

The reason I'm asking: IMO the generated table is useless as it just contains a single table and is generally just empty. Th

[2021-07-14 10:15] keichinger commented on #348
We're running into the same issue here with a couple of projects that rely on replicas.

Thanks for the workaround @MaSpeng. It's not really ideal, but at least something we can work with in the meanwhile.

I really hope that the search bundle can be improved to better handle replicas so that we can export the entire index graph with all of its replicas and its corresponding configurations, so tha

[2021-09-18 13:41] maciekpaprocki commented on #348
This really should get some attention.

The fix provided  does not work when working with prefix. ex:

algolia_search.yaml
[code]

running `php bin/console search:settings:backup --indices=products,products_price_asc`. Will produce two files, both of which have config with filled in prefix ( given dev env ):

products-settings.json
[code]
products-price-asc-settings.json
[code]

Unfortunately, whe

[2021-09-18 13:51] maciekpaprocki commented on #348
Another note, after a bit of investigation:

Issue would be possible to fix by replacing DI of `\Algolia\SearchBundle\Settings\SettingsManager` and injecting our own service. Unfortunately, this class is final and DI is not based on interface, so we are pretty much blocked when trying to fix it.

Temporary solution would be to remove final at least, but ideally implement interface and base DI on t

[2021-10-14 08:19] DevinCodes commented on #348
You're right, it got closed automatically because of the `fix #365` syntax. Thanks for the ping on this 😄

[2021-11-15 13:31] #356 closed

[2021-12-15 16:31] wlasnapl commented on #361
@keichinger you can add in doctrine configuration:
doctrine.dbal.schema_filter: '/^(?!aggregator_table).*$/'

[2021-12-16 08:29] keichinger commented on #361
@wlasnapl sounds like a great workaround for now! Haven't thought about the possibility to simply ignore/filter the table. Thanks for that!

Obviously, in a perfect world, we wouldn't even need to configure Doctrine to need something like this :) But for now, that's something we can work with 💪

[2022-03-01 13:45] keichinger opened #367 "Unpublishing version 5.2.1 is breaking apps"
Hi,

I'm sorry for opening this issue, but this has happened to me now a couple of times (across this bundle and the JS libs), which is why I'm opening this issue here because it's the most recent one which has directly affected multiple projects of ours.

A couple of weeks ago (on 2022-02-10)  I was upgrading one of our projects from `algolia/search-bundle` v5.1.2 to v5.2.1, which worked flawless

[2022-03-04 16:03] DevinCodes commented on #367
Hi @keichinger ,

Thank you for opening the issue. Version 6 of the package adds support for the latest Symfony version, which requires dropping support for older PHP versions. So it's not a direct replacement of 5.2.1 indeed.

The 5.2.1 tag was inadvertently published due to a typo (it should have been 5.1.2). The 5.2.1 tag was immediately removed after it got pushed in favor of the correct one,

[2022-03-04 16:17] keichinger commented on #367
Thanks @DevinCodes for responding ☺️
Personally, all of our apps have been reverted back to 5.1.2, so we're no longer affected.

I cannot speak for other people who might have been affected by this. I can only guess here on how many people might have explicitly restricted their apps to 5.2.1. The actual number could be very low or rather high - very hard to tell for me, especially since Packagist

[2022-03-07 15:25] #367 closed

[2022-07-14 15:49] dkarlovi opened #368 "DSN connection string support, configure via Config (instead of env vars)"
- Symfony version: 5.4
- Algolia Search Bundle version: 6.0
- Algolia Client Version: 3.3.0
- Language Version: 8.0

### Description

Currently, the client definition looks like this
[code]

This is not how Symfony bundles typically do this because it creates a hard requirement the credentials need to be in env vars, [which is not what what you want to do](https://diogomonica.com/2017/03/27/why-yo

[2022-11-16 16:17] Kaaly opened #369 "Rules settings backup / push"
- Symfony version: 6.1
- Algolia Search Bundle version: 6.0.0
- Algolia Client Version: 3.3.2
- Language Version: FR

### Description
We have two command `search:settings:backup` and `search:settings:push` which allow to sync Algolia settings between multiple environments.

It must be great if these command (or 2 new command) will handle backup / push of rules settings.